<apex:page standardController="Case" extensions="JiveCommunityCaseCloseComment" action="{!showThreadDesc}" showHeader="false" sidebar="false">
<style class="text/css">
.vertical-line{
 border-left: 3px solid Brown;
  height: 10%;
  float:right;
 }
</style>

<apex:form >
<apex:pageMessages />
<apex:pageBlock >
<apex:pageBlockSection columns="1" title="Post to Jive"  collapsible="false">    
    <apex:pageBlockSectionItem >
    <apex:outputText value="Thread Title"/>
    <apex:outputField value="{!td.Thread_Title__c}"/>    
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
    <apex:outputText value="Description"/>
    <apex:outputField value="{!td.Description__c}"/>    
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem rendered="{!td.ThreadAttachmentDetails__c != 'null'}" >
    <apex:outputText value="Jive Attachment Details" />
    <apex:outputText value="{!td.ThreadAttachmentDetails__c}" escape="false"/>    
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
    <apex:outputText value="Postback Options"/>    
    <apex:inputField required="true"  value="{!community.Postback_Options__c}" id="options"/>
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
    <apex:outputText value="Postback Comment"/>       
     <!--  <apex:inputField required="true" style="width:300px; float: right;"  value="{!community.Postback_Comment__c}" id="comment"/> -->
    <apex:inputTextArea id="ProDetail" value="{!community.Postback_Comment__c}" richText="true" required="true"/>

    </apex:pageBlockSectionItem>    
    <apex:pageBlockSectionItem >
    <apex:outputText value="Attachment <br/><font color=red>[up to 2 MB] </font>" escape="false"/>
    <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="file"/>
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    <apex:pageBlockButtons >
        <apex:commandButton value="Post" action="{!saveObject}"/>
        <apex:commandButton value="Cancel" action="{!cancel}"  onclick="window.close();"/>
    </apex:pageBlockButtons>    
</apex:pageBlock>
    
</apex:form>
</apex:page>