<apex:page standardController="Case" extensions="JiveViewCtrl1"  action="{!insertDesc}">
<apex:pageMessages />
<apex:includeScript value="{!URLFOR($Resource.jsTree, '/jquery.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jsTree, '/jquery.jstree.js')}"/>
    

    <script>
    
   
    
    
            $(document).ready(function(){
                 var tree = $("#treeViewDiv");
    tree.bind("loaded.jstree", function (event, data) {
        tree.jstree("open_all");
    }).jstree({
                    "json_data" : {!treeJson},
            "themes" :
            {
           "theme" : "classic",
           "dots" : true,
           "icons" : false
               
            },
   
                    "plugins" : [ "themes", "json_data", "ui"]
                }).bind("select_node.jstree", function(e, data)
                    {
                     
                        if(jQuery.data(data.rslt.obj[0], "msgID"))
                        {
                           
                            var t = "/apex/JiveCommunityReply?msgID="+jQuery.data(data.rslt.obj[0], "msgID")+"&contenID="+jQuery.data(data.rslt.obj[0], "contentID")+"&isReplyToMainThread="+jQuery.data(data.rslt.obj[0], "mainThreadReply");
                            //window.location =jQuery.data(data.rslt.obj[0],"href");
                            window.open(t,'_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, top=0, left=300, width=800, height=600');
                            //JiveViewCtrl1.redirectPage(jQuery.data(data.rslt.obj[0], "msgID"),jQuery.data(data.rslt.obj[0], "contenID"));
                            
                        }
                        else
                        {
                            alert("No href defined for this element");
                        }
                    })
            });
            
            
            
            
          
  
        </script> 
    

     <body>
  
        <div id="treeViewDiv" >
        </div>
    </body>
</apex:page>