<apex:page applyHtmlTag="false" applyBodyTag="false" showheader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" controller="mlnxMobileHomeCtrl" title="Home" label="Home" cache="true" expires="600">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="{!URLFOR($Resource.mlnxMobileAssets, 'css/bootstrap-namespaced.min.css')}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.mlnxMobileAssets, 'css/base.css')}"/>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileAssets, 'js/base.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileScannerAssets, 'js/lib/cordova/cordova.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileScannerAssets, 'js/lib/cordova/cordova_plugins.js')}"></script>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        

        
        <script type="text/javascript">
        // determines if SF1 or iOS/Android device or Desktop and redirects to appropriate login page
       // if ( (typeof sforce === 'undefined') && (sforce === null) || (getMobileOperatingSystem() !== 'iOS' && 
        if (getMobileOperatingSystem() !== 'iOS' && getMobileOperatingSystem() !== 'Android' && getMobileOperatingSystem() !== 'PhoneGap') {
            //window.location = "{!URLFOR($Page.SupportHome)}";
        }  
         
        </script>
        
        <link rel="stylesheet" href="{!URLFOR($Resource.StautsBarCSS)}"/>
 
<script src="{!URLFOR($Resource.ExecuteStatusBar)}" type="text/javascript"></script>
<script type="text/javascript">
             
       function loadbar(theLocation) { 
       if ( theLocation === 'mlnxMobileAssets') {
           parent.window.location = 'mlnxMobileAssets';
       }
       else if ( theLocation === 'mlnxMobileCases') {
           parent.window.location = 'mlnxMobileCases';
       }
       else if (theLocation === 'mlnxMobileScannerTest') {
           parent.window.location = 'mlnxMobileScannerTest'; 
       }
       else if (theLocation === 'mlnxMobileAssetSearch') {
           parent.window.location = 'mlnxMobileAssetSearch'; 
       }
       
           executeStatusBar();
        }
        
        
         $(document).ready(function () {

            $('[data-toggle="popover"]').popover({
                placement: 'top',
                delay: {
                    show: 50,
                    hide: 100
                }
            });
        
            $('[data-toggle="popover"]').click(function () {
        
                setTimeout(function () {
                    $('.popover').fadeOut('slow');
                }, 2500);
        
            });
        });
        
         
        
        </script>
        
        <style>
            
          <!-- Used for IPhone Screens --> 
          @media (max-width: 479px) {      
               
               
               .searchSerialNumber {
                
                     padding-top:20px !important;
                }
                
                 a.support-btn.live-agent,
                  a.support-btn{
                
                     height:50px;
                }
                
                a.btn-transparent.btn-scan-barcode {
                
                   // padding-top:20px;
                }
                
                a.mlnx-academy-btn {
            
                 height:50px;
                background-position: 40px;
                text-indent: 60px;
                padding:14px;
                font-size: medium;
                background-size: 30px 30px;    
            }
                
                .bootstrap-sf1 .img-logo {
                
                    margin-right:20px !important;
                    max-width: 120%;
                }
               
           }
           
           a.btn-transparent {
                
                background-color: rgb(240, 173, 78) !important;
                
            }
            
           .suportFrame {
                
                    height:86px !important;
            }
            
             
          
            a.btn-transparent.my-assets-btn,
            a.btn-transparent.my-cases-btn{
            
                background-color: #0275d8 !important;
            }
            
            a.btn-transparent.btn-scan-barcode,
            a.btn-transparent.btn-search-serial-number{
            
                background-color: #449d44 !important;
            }
            
            
            .academyDiv {
            
                margin-left: 100px;
            }
            
            .bootstrap-sf1 .popover-content {
            
                padding: 9px 14px;
                width: 280px;
                height: 50px;
                font-size:large;
                font-weight:bold;
                color: #1F5E90;
                padding-top: 15px;
            }
            
            span.section-head {
            
                color:#1F5E90;
            }
            
            a.btn-transparent.agentOff {
            
                color:red !important;
            }
            
            
            img.mlnx-description {
            
                margin:0px;
                padding-bottom : 15px;
                padding-top: 30px;
                max-width: 120% !important;
                margin-left:-10px;
                 
            }
            
            .liveAgentSpan {
            
                height: 35px;
                padding: 5px;
                margin-left: -5px;
            }
            
            .popover {
                top: -60px !important;
                left: 25px !important;
            }
            
            a.btn-search-serial-number span {
            
            
                font-size: 14px !important;
                margin-left: -5px;
                margin-top: -2px;
            }
            
            a.btn-scan-barcode span {
                font-size: 14px !important;
                margin-left: -7px;
                margin-top: -2px;
            }
            
            a.btn-transparent.btn-search-serial-number {
            
              //  height:70px !important;
            }
                    
       }
       
        </style>
        
    </head>
    <body class="mobile-home">
        <c:mlnxMobileHeader />

        <div class="bootstrap-sf1 mlnx-mobilehome-content">
            <div class="container">
                 <div class="row">
                    <div class="col-xs-10">
                        <img src="{!URLFOR($Resource.mlnxMobileAssets, 'icons/standard/mlnx_mymlnx_support_text.png')}" class="img-responsive mlnx-description" alt="My Mellanox" />
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="section-head">My <b>Mellanox</b></span>
                    </div>

                    <div class="col-xs-6">
                        <a href="#" class="btn-transparent navigation-url my-assets-btn" onclick="loadbar('mlnxMobileAssets');"><span>My Assets</span></a>
                    </div>

                    <div class="col-xs-6">
                        <a href="#" class="btn-transparent navigation-url my-cases-btn" onclick="loadbar('mlnxMobileCases');"><span>My Cases</span></a>
                    </div>
                </div>

                <div class="row product_info_btns">
                    <div class="col-xs-12 text-center">
                        <span class="section-head">View <b>Product Info</b></span>
                    </div>

                    <div class="col-xs-6" style="position:relative;">
                        <a href="#" class="btn-transparent btn-scan-barcode" onclick="loadbar('mlnxMobileScannerTest');"><span>Scan Barcode</span></a>
                         <!-- <span class="product-info-or">or</span> -->
                    </div>

                     <div class="col-xs-6">
                        <a href="#" class="btn-transparent btn-search-serial-number" onclick="loadbar('mlnxMobileAssetSearch');"><span>Search Serial Number</span></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="section-head">Contact <b>Support</b></span>
                    </div>

                    <!-- Elad Kaplan - Added Live agent component "col-xs-3" as 1/4 of the grid size -->
                    
                        <!-- Deployment Start -->
                    <script type='text/javascript' src='https://c.la2cs.salesforceliveagent.com/content/g/js/34.0/deployment.js'></script>
                    <script type='text/javascript'>
                            <!--liveagent.init('https://d.la2cs.salesforceliveagent.com/chat', '572500000004CfL', '00DW0000008x0NV'); -->
                            liveagent.init('https://d.la1a1.salesforceliveagent.com/chat', '572500000004CfL', '00D500000007heg');
                        </script>
                    <!-- Deployment End -->
                    <!-- Button Code -->
                    <a target="_top" class="support-btn suportFrame live-agent">
                    <span>
                    
                    
                    <div class="col-xs-3">
                        <a href="#" id="liveagent_button_online_573500000004CkC" class="btn-transparent support-btn" style="display: none !important;" onclick="window.open('https://mymellanox.force.com/support/apex/mlnxMobileLiveAgent_PrePage?endpoint=https%3A%2F%2Fkd2j.la1-c2-dfw.salesforceliveagent.com%2Fcontent%2Fs%2Fchat%3Flanguage%3Den_US%23deployment_id%3D572500000004CfL%26org_id%3D00D500000007heg%26button_id%3D573500000004CkC%26session_id%3D6fae8265-f80b-44c6-a3af-3a08b1b17db2', '_blank', 'location=yes');">  <span class="contact-support-agentOn"></span> </a> 
                    
                        <a href="#" data-content="No Agent Available" data-placement="top" data-toggle="popover" id="liveagent_button_offline_573500000004CkC" class="btn-transparent support-btn agentOff" style="display: none !important;"> <span class="contact-support-agentOff"></span> </a> 
                     </div>
                      
                    </span>
                    </a>
                    <script type="text/javascript">
                        if (!window._laq) { window._laq = []; }
                        window._laq.push(function(){liveagent.showWhenOnline('573500000004CkC', document.getElementById('liveagent_button_online_573500000004CkC'));
                        liveagent.showWhenOffline('573500000004CkC', document.getElementById('liveagent_button_offline_573500000004CkC'));
                        liveagent.setName( '{!$User.FirstName} {!$User.LastName}' );
                            liveagent.addCustomDetail("Contact Id",'{!$User.ContactId_text__c}');
                            liveagent.findOrCreate("Contact").map("Id", "Contact Id", true, false, false).saveToTranscript("Id").showOnCreate(true);
                        });
                        
                    </script>
                    
                    
                    <div class="col-xs-3">
                        <a href="mailto:support@mellanox.com" target="_top" class="btn-transparent support-btn"><span class="contact-support-email"></span></a>
                    </div>

                    <div class="col-xs-3">
                        <a href="tel:+14089160055" class="btn-transparent support-btn"><span class="contact-support-phone"></span></a>
                    </div>

                    <div class="col-xs-3">
                        <a href="#" class="btn-transparent support-btn" onclick="parent.window.location = '{!$Site.Prefix}/apex/mlnxMobileCaseEdit'"><span class="contact-support-chat"></span></a>
                    </div>
                </div>

                <div class="row mlnx-academy">
                    <div class="col-xs-12">
                        
                         <a href="#" onclick="window.open('https://academy.mellanox.com', '_system');" class="mlnx-academy-btn">
                          Mellanox <b>Academy</b></a>   
                        
                        <!-- <a href="#" onclick="window.open('https://academy.mellanox.com', '_system', 'location=yes');"> Mellanox Academy2 </a>  -->
                         
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileAssets, 'js/jquery.min.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileAssets, 'js/bootstrap.min.js')}"></script>
        <script type="text/javascript">
            var $j = jQuery.noConflict();
            
            // Navigate to page depending on if in SF1 or in desktop
            // If anchor tag has class navigation-url
            $j(document).on("click", "a.navigation-url", function(e) {
                e.preventDefault();

                var urlLocation = $j(this).attr("data-href");

                console.log("urlLocation: " + urlLocation);

                if (urlLocation.length === 0) {
                    return;
                }

                // SF1 detection
                if ( (typeof sforce !== "undefined") && (sforce !== null) ) {
                    sforce.one.navigateToURL(urlLocation, false);
                } else {
                    window.location = urlLocation;
                }
            });
        
            $j(document).ready(function(){
                
                redirectSiteUserToLogin();
                setButtonsHeight();
            });
        
            $j(window).resize(function() {
                setButtonsHeight();
            });
            
            function redirectSiteUserToLogin() {
            
                var userProfile = '{!$User.ProfileId}';
                
                if (userProfile === '00e50000001FcTpAAK') {
                
                    document.location = 'mlnxMobileLogin';
                }
            }
        
            function setButtonsHeight(){
                // on window resize
                var max = 0;
                // get the height of the longest select.select
                $j(".product_info_btns a").each(function() { 
                    var h = $j(this).height();
                    if (h > max) 
                        max = h; 
                });
                // set the height of all select.select to max height
                $j(".product_info_btns a").each(function(){
                    $j(this).height(max);                
                });

            }
            
            $j( "#extlink" ).click(function() {
          
          if (typeof navigator !== "undefined" && navigator.app) {
                // Mobile device.
                var linktarget = this.attr("href");
                //navigator.app.loadUrl('/apex/mlnxMobileCases', {openExternal: true});
                 // window.open('/apex/mlnxMobileCases', "_system");
                 alert('Mobile Device');
            } else {
                // Possible web browser
                //navigator.app.loadUrl('/apex/mlnxMobileCases', {openExternal: true});
                //window.open('/apex/mlnxMobileCases', "_blank");
                //alert('Web Browser');
                (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")
            }
        }); 
        
        </script>
        
          <c:mlnxMobileGoogleAnalytics />

            </body>
</html>
</apex:page>