<apex:page applyHtmlTag="false" applyBodyTag="false" showheader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" controller="mlnxMobileAssetSearchCtrl" title="Scan Barcode" label="Scan Barcode" cache="true" expires="600">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.mlnxMobileAssets, 'css/bootstrap-namespaced.min.css')}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.mlnxMobileAssets, 'css/base.css')}"/>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.mlnxMobileScannerAssets, 'css/index.css')}" />
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileAssets, 'js/base.js')}"></script>
       
        
        <title>Barcode Scanner Demo</title>
    </head>
    <body class="body-sf1">
        <c:mlnxMobileHeader />

        <div class="bootstrap-sf1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default panel-scanner">
                            <div class="panel-heading">Scan Barcode</div>
                            <div class="panel-body">
                                <!-- <div class="app"> -->
                                    <div class="btn-group clearfix">
                                        <a href="javascript:void(0);" class="topcoat-button btn btn-primary btn-block" id="scan">SCAN</a>
                                    </div>
                                    <!-- <div class="btn-group">
                                        <a href="javascript:void(0);" class="topcoat-button btn btn-default" id="encode">ENCODE</a>
                                    </div> -->
                                    <div id="deviceready" class="blink" style="display:none;">
                                        <p class="event listening">Connecting to Device</p>
                                        <p class="event received">Device is Ready</p>
                                    </div>
                                    <div id="info"></div>
                                    <apex:form >
                                        <apex:actionFunction name="searchAsset" action="{!searchAsset}" reRender="results" status="pageStatus" oncomplete="scannerSuccessNavigate()" />
                                        <apex:inputText style="display:none;" styleClass="input-barcode" value="{!barCode}" />
                                    </apex:form>

                                    <apex:actionStatus id="pageStatus">
                                        <apex:facet name="start">
                                            <apex:outputPanel >
                                                <img src="/img/loading32.gif" width="16" height="16" />
                                                <apex:outputLabel value="Loading..."/>
                                            </apex:outputPanel>           
                                        </apex:facet>
                                    </apex:actionStatus> 

                                    <apex:outputPanel id="results" layout="inline">
                                        <apex:outputPanel layout="block" styleClass="card-list" rendered="{!isDisplayAll}">
                                            <!-- <div class="card-list-heading">
                                                <h3>Asset Results</h3>
                                            </div> -->
                                            <apex:repeat value="{!assetsToDisplay}" var="assetToDisplay">
                                                <div class="card">
                                                    <div class="card-heading">
                                                        <!--<a href="javascript:void(0);" onclick="navigate('{!assetToDisplay.Id}', '{!isCommunity}', '{!$Site.CurrentSiteUrl}');">{!assetToDisplay.Name}</a>-->
                                                        <a href="javascript:void(0);" onclick="window.location('/support/apex/mlnxAssetView?id={!assetToDisplay.Id};')">{!assetToDisplay.Name}</a>
                                                    </div>
                                                    <ul class="card-detail ">
                                                        <li>
                                                            <label class="card-detail-label">Type</label>
                                                            <span class="card-detail-value">{!assetToDisplay.Asset_Type__c}</span>
                                                        </li>
                                                        <li>
                                                            <label class="card-detail-label">Kind</label>
                                                            <span class="card-detail-value">{!assetToDisplay.Asset_kind__c}</span>
                                                        </li>
                                                        <li>
                                                            <label class="card-detail-label">Status</label>
                                                            <span class="card-detail-value">{!assetToDisplay.Asset_Status__c}</span>
                                                        </li>
                                                    </ul>
                                                </div> <!-- end card -->
                                            </apex:repeat>
                                        </apex:outputPanel>
                                        <script type="text/javascript">
                                            var recordId = '{!recordId}',
                                                isCommunity = '{!isCommunity}',
                                                CurrentSiteUrl = '{!$Site.CurrentSiteUrl}';
                                        </script>
                                    </apex:outputPanel>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="http://192.168.5.149:8080/target/target-script-min.js#anonymous"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileScannerAssets, 'js/debuggap.js')}?192.168.5.149:11111"></script>-->
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileScannerAssets, 'js/lib/cordova/cordova.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileScannerAssets, 'js/lib/cordova/cordova_plugins.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.mlnxMobileScannerAssets, 'js/index.js')}"></script>
        <!--<script src="{!$Site.Prefix}/jslibrary/1427810574000/sfdc/AuraAlohaFrameNavigator.js"></script>-->
        

        <script>
        
        
            function scannerSuccess() {
                searchAsset();
            }
            function scannerSuccessNavigate() {
            
                
                if (recordId !== null && recordId !== '') {
                    window.location = '{!$Site.Prefix}/apex/mlnxMobileAssetView?id=' + recordId;
                }
                
                else {
                    window.location = '{!$Site.Prefix}/apex/mlnxMobileAssetView' ;
                }
            }
            //function onLoadFunc() {
                app.initialize();
                //app.scan();
            //}
            
            
            
        </script>
      <!-- <c:mlnxMobileGoogleAnalytics />  -->
    </body>
</html>
</apex:page>