<apex:page showHeader="true" sidebar="true" docType="html-5.0" standardStylesheets="false" standardController="ProductDetails__c" extensions="MPCProductDetailOverrideController" action="{!redirect}">
	<chatter:feedWithFollowers showHeader="true" entityId="{!ProductDetails__c.Id}" />
	<apex:detail inlineEdit="true" />
</apex:page>