<apex:page showHeader="true" sidebar="true" docType="html-5.0" standardStylesheets="false" standardController="RMA__c" extensions="MPCRMAOverrideController" action="{!redirect}">
    <chatter:feedWithFollowers showHeader="true" entityId="{!RMA__c.Id}" />
    <apex:detail inlineEdit="true" />
</apex:page>