<apex:page showHeader="false" standardStylesheets="false"> 
<!-- This script takes the endpoint URL parameter passed from the deployment 
  page and makes it the action for the form -->
  
  <style>
        
     h1 {
    
        display:none;
    }
    
    #theHeader {
    
        font-size:98%;
        font-weight:bold;
        color: #0e4a81 !important;
        font-family: Arial,Helvetica,sans-serif;
    }
    
    .theLiveSubject{
    
        font-size:70%;
        font-weight:normal;
        color: #5a5a5b !important;
        font-family: Arial,Helvetica,sans-serif;
    }
    
    
    
  </style>

  
  
  
  
<script type="text/javascript">
     (function() { 
     function handlePageLoad() {
       var endpointMatcher = new RegExp("[\\?\\&]endpoint=([^&#]*)");
       document.getElementById('prechatForm').setAttribute('action',
       decodeURIComponent(endpointMatcher.exec(document.location.search)[1]));
     } if (window.addEventListener) {
              window.addEventListener('load', handlePageLoad, false);
   } else { window.attachEvent('onload', handlePageLoad, false);
              }})();
              
              
  function closeWin()   // Tested Code
    {
            parent.closeIFrame();
    }            
              
</script>

<form method='post' id='prechatForm'>
 
    <apex:image url="/servlet/servlet.ImageServer?id=01550000001kFdy&oid=00D500000007heg&lastMod=1437573570000" width="100%"/>
    
        
     <p> <div Id="theHeader"> Mellanox Tech Support Live Chat </div>  </p>
    
    <div class="theLiveSubject">  <p> Our Support experts are ready to assist you with technical issues
                               for any Mellanox related product and more. </p>

                           <p> Tell us what would you like to chat with us about? </p> 
      
      </div>
    
   
    <input type='text' name='liveagent.prechat:SubjectDetail'
        id='customField1' /> 
        
        <input type='hidden' value='01250000000E50j' name='liveagent.prechat:RecordTypeDetail'
        id='customField2' />
       <br/> 
       <br/>   
    <div class="theLiveSubject">  NOTE: If you have trouble connecting via Live Agent and need our assistance, please call us at   <a href="tel:14089160055"> +1 408.916.0055. </a> </div>   
                  
         <input type='hidden' value='{!$User.ContactId_text__c}' name='liveagent.prechat:ContactIdDetail'
        id='customField3' /><br />
        
   <!--   Last name: <input type='text' name='liveagent.prechat:LastNameDetail'
        id='customField2' /><br />   -->
    <!--  Department: <select name="liveagent.prechat.buttons">  -->
          <!-- Values are LiveChatButton IDs. -->
       <!--   <option value="573a00000000001">Customer Service</option> 
          <option value="573a00000000002">Technical Support</option> 
          <option value="573a00000000001,573a00000000002">Customer Service if online, 
          otherwise Technical Support</option> 
      </select><br />   -->

      <!-- Map liveagent.prechat:FirstNameDetail and liveagent.prechat:LastNameDetail
        custom detail to Contact's field FirstName and LastName -->
      <input type="hidden" name="liveagent.prechat.findorcreate.map:Case"
        value="Subject,SubjectDetail;RecordTypeId,RecordTypeDetail;ContactId,ContactIdDetail" />
      
      <!-- Specify to query for a matching Contact records Subject field based on
        the value of Subject -->
   <!--    <input type="hidden" name="liveagent.prechat.findorcreate.map.doFind:Case"
        value="Subject,true;RecordTypeId,true" /> -->
        
      <!-- Return results only if there is an exact match of Subject-->
    <!--  <input type="hidden" name="liveagent.prechat.findorcreate.map.isExactMatch:Case"
        value="Subject,true;RecordTypeId,true" />  -->

      <!-- If no match in search, create a new Contact record with the mapped value
        of Subject -->
      <input type="hidden" name="liveagent.prechat.findorcreate.map.doCreate:Case"
        value="Subject,true;RecordTypeId,true;ContactId,true" />
        
      <!-- If a new Case record has been created, open it as a subtab -->
      <input type="hidden" name="liveagent.prechat.findorcreate.showOnCreate:Case"
        value="true" />

      <!-- Save the Case id to transcript's field ContactId -->
      <input type="hidden" name="liveagent.prechat.findorcreate.saveToTranscript:Case"
        value="CaseId" />

      <input type='submit' value='Request Chat' id='prechat_submit'/> 
      <input class="question" name="Close" type ="button" value = "Close" onClick = "closeWin()"     tabindex="10" /> 

<style type="text/css"> 
p {font-weight: bolder } 
</style> 

</form> 
</apex:page>