<apex:page standardController="Opportunity" extensions="Vf_schedulabel_manager">
           
<style>
.pbBody td {
    border-color: #E3DEB8;
    border-style: none none solid;
    border-width: medium medium 2px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 55px;
}

.pbBody input {
    width: 55px;
}

.pbBody .nameColumn {
    width: 125px;
}

.hdr {
    font-weight: bold;
    white-space: no-wrap;
}

.right-element {
   position: absolute;
   right: 0;
   text-align: right; /* depends on element width */
   } 

   input.mv_btn{
   background-image: none; 
   font-weight:bold;
  <!-- background-color:#FF1100;-->
  background-color:#636060;
   }
   
   .red_txt{
   font-weight:bold;
   color:#FF1100;
   }

</style>



<apex:form id="edit-form">
<!--  BEGIN BOTH ---------------------------------------------------------------------->     
<apex:pageBlock rendered="{!showBoth}" id="main" >
    <apex:pageMessages ></apex:pageMessages>
     
        <apex:pageBlockButtons rendered="{!$CurrentPage.parameters.id != null}">
            <apex:commandButton action="{!saveChanges}" value="Save Schedule" status="ajaxStatus" />
             <apex:commandButton action="{!CalculateRevenue}" value="Calculate Rev." />
  
             <apex:commandButton action="{!show_collapse}" value="Show Qty Only" rendered="{!IF(productCategory = 'ALL',true,false)}" />
             <apex:commandButton action="{!show_detail}" value="Detail View" rendered="{!IF(productCategory = 'ALL',true,false)}" />
<!--  
             <apex:commandButton action="{!sortbyOPN}" value="Sort By OPN" rendered="{!IF(productCategory = 'ALL',true,false)}" />
             <apex:commandButton action="{!sortbytype}" value="Sort By Type" rendered="{!IF(productCategory = 'ALL',true,false)}" />
-->
            <apex:commandButton action="{!cancel}" value="Opportunity Page" />
            <apex:commandButton action="{!Viewforecast_from_account}" value="View Forecast-Account" />
        </apex:pageBlockButtons>
        
  <apex:actionStatus id="ajaxStatus" startText="Updating Schedule...">
      <apex:facet name="stop">
          <apex:outputPanel >
        <table>
            <tr>
              
                <td class="hdr" style="background-color:lightblue;text-align:center">
                	<apex:commandLink action="{!sortbyOPN}" value="OPN" id="CommandLink_OPN"/>
                </td>
                <td class="hdr" style="background-color:lightblue;text-align:center">
                	<apex:commandLink action="{!sortbytype}" value="Type" id="CommandLink_Type"/>
                </td>
                                                           
				<td class="hdr" style="background-color:lightblue;text-align:center">
                	<apex:outputtext value="Data Rate" />
                </td>
                <td class="hdr" style="background-color:lightblue;text-align:center">
                	<apex:outputtext value="Program Name" />
                </td>
				<td>&nbsp;</td>
                <td>&nbsp;</td>
                
                <apex:repeat value="{!quarters}" var="mon">
                    <td class="hdr" style="background-color:lightblue">{!mon}</td>
                </apex:repeat>
                <!--<td align="center" class="hdr">Quantity</td>
                <td align="center" class="hdr">Sales Price</td>
                <td align="center" class="hdr">Total Price</td>-->
            </tr> 
            <apex:variable var="itemIndex" value="{!0}" /> 
            <apex:repeat value="{!rows}" var="a">
                  <apex:variable var="itemIndex" value="{!(itemIndex+1)}" />   
                  <apex:outputText rendered="{!mod(itemIndex,6)==0}">
                    <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    
                    <apex:repeat value="{!quarters}" var="mon">
                  
                    <td class="hdr" style="background-color:lightblue">{!mon}</td>
                    </apex:repeat>
                    </tr>
                   </apex:outputText>
                 <tr>
					<td >
                        <div style="white-space: nowrap;">
                            <apex:outputField value="{!a.line.PricebookEntry.Name}" />&nbsp;
                        </div>
					</td>
					<td>
						<div style="white-space: nowrap;">
                            <apex:outputField value="{!a.line.Product_Family__c}" />&nbsp;
                        </div>
					</td>
				    <td>
						<div style="white-space: nowrap;">
                            <apex:outputField value="{!a.line.Product_Data_Rate__c}" />&nbsp;
                        </div>
					</td>
					<td>
						<div style="white-space: nowrap;">
                            <apex:outputField value="{!a.line.Program_Name_Forecast__c}" />&nbsp;
                        </div>
					</td>
					<td>
						<div style="white-space: nowrap;">
                            <apex:inputCheckbox value="{!a.selected}">&nbsp;</apex:inputCheckbox>  
                        </div>
					</td>                   
                    <td class="hdr">
                        <apex:outputText value="Quantity" />
                    </td>
                    <apex:repeat value="{!a.OppLineSchedulesQty}" var="oq" rendered="{!showBoth}">
                           <td>
                          <apex:inputText value="{!oq.quantity}" id="showBothQty"/>
                       <!--   <script>document.getElementById('{!$Component.showBothQty}').disabled = {!oq.Type == "Revenue"}; </script>-->
                          
                           </td>
                    </apex:repeat>  
                    
                 <!--   <td align="right" rowspan="3"><br />
                        <apex:outputField value="{!a.line.Quantity}" />
                    </td>                                    
                    <td align="right" rowspan="3"><br />
                    <apex:outputField value="{!a.line.UnitPrice}" />
                    </td>
                    
                    <td align="right" rowspan="3"><br />                                                                    
                    <apex:outputField value="{!a.line.TotalPrice}"/>
                    </td>  -->
                </tr>
                  
                <tr style="display: {!IF(is_collapse=true, 'none', 'table-row')};">                                    
                    <td>&nbsp;</td>
                	<td>&nbsp;</td>                                                           
					<td>&nbsp;</td>
                	<td>&nbsp;</td>
                	<td>&nbsp;</td>
                	
                    <td class="hdr">
                        <apex:outputText value="Price"/>
                    </td>
                    <apex:repeat value="{!a.OppLineSchedulesPrc}" var="or"  rendered="{!showBoth}" >
                        <td>
                        <apex:inputText value="{!or.price}" id="showBothprice"/>

                        </td>
                    </apex:repeat>                                      
                </tr>
                <tr style="display: {!IF(is_collapse=true, 'none', 'table-row')};">  
                	<td>&nbsp;</td>
                	<td>&nbsp;</td>                                                           
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					                                  
                    <td class="hdr">
                        <apex:outputText value="Revenue"/>
                    </td>
                    <apex:repeat value="{!a.OppLineSchedulesRev}" var="or" rendered="{!showBoth}" >
                    <td style="background-color:#FF6633;font-weight:bold;">
                         <apex:outputText value="{0, number, ###,###}" id="Rev">
                         <apex:param value="{!or.revenue}" /></apex:outputText>
                    
                    </td>
                    </apex:repeat>
                                                      
                </tr>
				
          </apex:repeat>
            
            <!-- add total by quarter row -->
				<tr>  
                	<td>&nbsp;</td>
                	<td>&nbsp;</td>                                                           
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					                                  
                    <td class="hdr">
                        <apex:outputText value="Quarterly Revenue Total"/>
                    </td>
                    <apex:repeat value="{!totalRev}" var="total" >
                    <td style="background-color:#5858FA;font-weight:bold;">
                         <apex:outputText value="${0, number, ###,###}" id="totRev">
                         <apex:param value="{!total}" /></apex:outputText>
                    
                    </td>
                    </apex:repeat>
                                                      
                </tr>
				<!--  -->           
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
				<td>&nbsp;</td>
                <td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				                                                                                                 
                <apex:repeat value="{!listquarterNum}" var="q">
                    <td class="hdr">
                        <apex:commandLink value="Copy-->" action="{!doShift}" >
                             <apex:param name="shift" value="{!q}" assignTo="{!CellNum}" />
                        </apex:commandLink>
                    </td>
                </apex:repeat>
                <!-- <td>&nbsp;</td>   --> 
                <td colspan="3" align="right" class="hdr">Amount&nbsp;<apex:outputField value="{!opp.Amount}" id="OppAmt"/></td>
           </tr>
           <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                
                <apex:repeat value="{!listquarterNum}" var="q">
                    <td class="hdr">
                        <apex:commandLink value="Fill-->" action="{!ShiftAll}" >
                             <apex:param name="shiftAll" value="{!q}" assignTo="{!CellNum}" />
                        </apex:commandLink>
                    </td>
                </apex:repeat>   
           </tr>
          </table>
           </apex:outputPanel> 
                </apex:facet>
            </apex:actionStatus>                         
        </apex:pageBlock>
        <!--  END BOTH ---------------------------------------------------------------------->
        

    </apex:form>       
</apex:page>