<apex:page standardController="OpportunityLineItem" Extensions="VFOverrideOppLineItem">
    <script type="text/javascript">  
        if("{!currOpp.R90_Forecast_Flag__c}" =="true")
        { 
            alert('You can’t edit product for forecasted opportunity, Please go to Right 90 to edit any information');
            window.location = "https://na3.salesforce.com/" + "{!currOpp.Id}"; 
        } 
         
        else
        {
            navigateToUrl("/"+"{!currOli.Id}"+"/e?nooverride=1&retURL="+"{!currOpp.Id}"); 
            
        }
        
    </script>
</apex:page>