<apex:page standardStyleSheets="false" sidebar="false" showHeader="false" doctype="html-5.0">
<html class="{!IF(ISPICKVAL($User.UserType,'Guest'), 'unauthenticated', '')}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; utf-8" />
    <title><apex:insert name="pageTitle" /> | myMellanox</title>
    <link type="text/css" rel="stylesheet" href="{!$Page.SupportBaseCSS}" />
    <apex:insert name="pageCSS" />
    <script type="text/javascript">
        // Head Setup
        var head_conf = {
            browsers : [
                { ie     : { min: 6, max: 11 } }
                //,{ chrome : { min: 8, max: 34 } }
                //,{ ff     : { min: 3, max: 28 } }
                ,{ ios    : { min: 3, max:  7 } }
                ,{ android: { min: 2, max:  4 } }
                ,{ webkit : { min: 9, max: 12 } }
                //,{ opera  : { min: 9, max: 12 } }
            ],
            browserCss: { "gt": true, "gte": true, "lt": true, "lte": true, "eq": true }
        };
    </script>
    <script type="text/javascript" src="{!URLFOR($Resource.Support_zip_js, 'jquery.min.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.Support_zip_js, 'modernizr.min.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.Support_zip_js, 'head.min.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.Support_zip_js, 'uikit.min.js')}"></script>
    <apex:insert name="pageJS" />
</head>
<body class="{!LOWER($CurrentPage.Name)}">
	<div class="page-container">
		<c:SupportHeader />
		<div class="page-inner-container">
			<apex:insert name="body" />
		</div>
		<c:SupportFooter />
	</div>
	<apex:outputPanel layout="none" rendered="{!IF(CONTAINS($Site.CurrentSiteUrl, 'https:'), true, false)}">
		<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
	</apex:outputPanel>
	<apex:outputPanel layout="none" rendered="{!IF(CONTAINS($Site.CurrentSiteUrl, 'http:'), true, false)}">
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	</apex:outputPanel>
	<script type="text/javascript">
		stLight.options({publisher: "e52f3878-74cc-40a0-855e-34d00b57feb0", doNotHash: false, doNotCopy: false, hashAddressBar: false});
	</script>
</body>
</html>
</apex:page>