<apex:page Controller="VF_DealFlow_ContactUS" standardStylesheets="false" showheader="false">
  <html lang="en">
<head>
<title>Contact us</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
       
      
      .btnsbmt {
      
          height: 28px;
      }
      
       .frMessageDiv {
      
          color:#0e4a81;
          font-size:medium;
          background-color: #FFFF33;
      }
      
      .btn-success {
      
          font-weight: bold;
      }
      
      .form-control{
      
         border-radius:0px; 
         box-shadow: 0 2px 2px rgba(0,0,0,.1);
         border: none; 
      }
      
      .col-xs-3,
      .col-xs-5,
      .UploadAtt {
         
         color:grey;
      }
      
       body { 
       
           background: #EBE8E8!important; 
       }
       
       label {
           
           font-size:12px;
       }
       
       .PleaseNote{    
          
           font-style:italic;
       }
       
       .frMessageDiv {
      
          color:#0e4a81;
          font-size:Large;
          background-color: #FFFF33;
      }
       
</style>

 
</head>
<body>
 
   
  <div class="container">
  <h3 >Contact us:</h3>
  <br/>
  <br/>
  <font color="grey"><p> <b> Ready to take it to the next level? </b>The sooner we get talking, the sooner great things can happen. </p>
  <p> Please fill out the short form below. Thanks for your inquiry, and we look forward to meeting in person. </p>  
  <p> <div class="PleaseNote"> <font color="red"> * </font> Please note required fields. </div> </p> </font>
   
   
  <apex:form styleclass="form-horizontal">
  
   
    <div class="form-group">
      <div class="col-xs-4">
        <label for="ex1"><font color="red"> * </font> First Name:</label>
        <apex:inputText styleClass="form-control" id="ex1" value="{!FirstName}" />
      </div>
      <div class="col-xs-4">
        <label for="ex2"><font color="red"> * </font> Last Name:</label>
        <apex:inputText styleClass="form-control" id="ex2" value="{!LastName}"  />
      </div>
    </div>
     
    <div class="form-group">
      <div class="col-xs-8">
         <apex:pageMessages id="Error"/>         
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-8">
        <label for="ex3">  <font color="red"> * </font> Email:</label>
        <apex:inputField styleClass="form-control" id="ex3" value="{!newDealFlow.Contact_Email__c}" required="true"/>
      </div>
    </div>
    
     <div class="form-group">
      <div class="col-xs-8">
        <label for="ex4">  <font color="red"> * </font>  Phone Number:</label>
        <apex:inputField styleClass="form-control" id="ex4" value="{!newDealFlow.Contact_Phone__c}" required="true"/>
      </div>
    </div>
    
     
       
     
    
    <div class="form-group">
      <div class="col-xs-8">
        <label for="ex4"> <font color="red"> * </font> Company Name:</label>
        <apex:inputField styleClass="form-control" id="ex5" value="{!newDealFlow.Name }" />
      </div>
    </div>
    
    
    <div class="form-group">
      <div class="col-xs-5">
        <label for="ex4"> Website:</label>
        <apex:inputField styleClass="form-control" id="ex7" value="{!newDealFlow.Website__c}" />
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-8">
        <label for="ex4">  <font color="red"> * </font> Subject:</label>
        <apex:inputField styleClass="form-control" id="ex8" value="{!newDealFlow.Subject__c}" required="true"/>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-8">
        <label for="ex4">  <font color="red"> * </font> Message:</label>
        <apex:inputField styleClass="form-control" id="ex9" value="{!newDealFlow.Description__c}" required="true"/>
      </div>
    </div>
    
    <div class="UploadAtt"><p> <b> File Upload </b> </p>
    <p> Click browse to add your attachment to your submission. </p>
    <p> For multiple files please ZIP your files. (Size limit 25MB)</p>
    </div>
    
     <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="file" /> 
      
     <br/>
     
     
     <apex:commandbutton styleclass="btn btn-success" action="{!createDeal}" value="SUBMIT"/>  &nbsp; 
   
     
     <apex:outputLabel value="Thank you for contacting Mellanox" styleClass="frMessageDiv" rendered="{!displaySuccessMasage}"/> 
  </apex:form>
</div>

</body>
</html>
</apex:page>