<apex:page standardController="RMA__c" extensions="VF_RMA_Reject" action="{!Reject_RMA}">
<apex:form >
        <apex:pageBlock >
        <apex:pageMessages />
</apex:pageBlock>
</apex:form>


  
</apex:page>