<apex:page standardController="RMA__c"  extensions="vf_RMA_letter" renderAs="pdf"> 
<!--   <apex:page standardController="RMA__c"  extensions="vf_RMA_letter"> -->
  <!-- Begin Default Content REMOVE THIS -->
<html>
 <head>

<style> 
    <!-- body {font-family: Arial Unicode MS;}  -->
   

@page {
    @top-right {
      
      content: "Page " counter(page) " of " counter(pages);
          font-weight: lighter;
          font-size:8pt;
        }
    } 
     .CL_Header {font-weight:bold;
                    font-size:15px;
                    color:black}  

  .highlightcol {
       background-color: #FBB917;
    }
    
  .odd {
   border-bottom: 1px solid #000;
   background-color: #ECE5B6;
   padding: 1px 1px 2px 2px;
   font-size: 10px;
   vertical-align:middle;
      }
      
        .odd1 {
   border-bottom: 1px solid #000;
   background-color: #ECE5B6;
   padding: 1px 1px 2px 2px;
   font-size: 10px;
   vertical-align:middle;
      }
  
  .even {
     border-bottom: 1px solid #000;
     padding: 1px 1px 2px 2px;
     font-size: 10px;
     vertical-align:middle;
  }


     .headT  {font-weight:bold;
                    font-size:20px;
                    color:blue}  


     .Fields_Title {font-weight:bold;
                    font-size:14px;
                    color:black
                    background-color:#81F7F3
                    border-bottom: 1px solid #000000;
                    border-top: 1px solid #000000;}  

     .Fields_Name { font-weight:normal;
                    font-size:13px;
                    color:black}  

      showTime {font-family: Arial Unicode MS;text-align:center;}  
     .alignLeft {
                     font-size:13px;
                     color:green}  

</style>

    
</head>

  
  <apex:pageBlock >

  <Center> <b>
      <p  style="color: red;font-size:large;" >
          <apex:outputtext >This RMA Letter should be attached to the outside of the shipping box</apex:outputtext> 
      </p>
      <p  style="background-color : #F3F3EC!important;border-bottom: 1px solid #000;" >
          <apex:outputtext >{!letterTitle}</apex:outputtext> 
      </p>
      </b>
   </Center>
  <p style="background-color : #F3F3EC!important;border-bottom: 1px solid #000;" >
  <b><apex:outputtext >Customer PO Number:&nbsp;&nbsp; </apex:outputtext></b> 
  <apex:outputtext >{!anRMA.PO_Number__c}</apex:outputtext>&nbsp;&nbsp;
  <b><apex:outputtext >Mellanox RMA Number:&nbsp;&nbsp; </apex:outputtext></b> 
  <apex:outputtext >{!anRMA.RMA_Number__c}</apex:outputtext>&nbsp;&nbsp;&nbsp;&nbsp;
  <apex:outputtext >&nbsp;&nbsp;&nbsp;{!stringDate}</apex:outputtext>&nbsp;&nbsp;</p>
  
   
         
       
       <!-- *******************   -->
       
        <table width="100%" border="1">
        <tr width="100%">
            <td width="33%" >
                <apex:image url="{!URLFOR($Resource.Logo)}" width="200" height="200"/>
            </td>
            <td width="33%" >
            <br/> <br/>
            <p style="background-color : #F3F3EC!important;border:1px solid black;"><b>To:</b></p>
            
            <p >
            <apex:outputtext rendered="{!NOT(anRMA.ShipTo_same_as_BillTo__c)}" >
                {!anRMA.Ship_Contact__c}<br/>
                {!anRMA.Ship_Company__c}<br/>
                {!anRMA.Ship_Company_Address_1__c}<br/>
                {!anRMA.Ship_Company_Address_1__c}<br/>
                {!anRMA.Ship_City_State__c}<br/>
                {!anRMA.Ship_Zip__c}<br/>
                {!anRMA.Ship_Country__c}<br/>
                {!anRMA.Ship_Phone__c}<br/>
            </apex:outputtext>            
            <apex:outputtext rendered="{!anRMA.ShipTo_same_as_BillTo__c}" >
                {!anRMA.Bill_Contact__c}<br/>
                {!anRMA.Bill_Company__c}<br/>
                {!anRMA.Bill_Company_Address_1__c}<br/>
                {!anRMA.Bill_Company_Address_2__c}<br/>
                {!anRMA.Bill_City_State__c}<br/>
                {!anRMA.Bill_Zip__c}<br/>
                {!anRMA.Bill_Country__c} <br/>
                {!anRMA.Bill_Phone__c}
            </apex:outputtext>
            </p>
            
            </td>
            <td>
            
            <p style="background-color : #F3F3EC!important;border:1px solid black;" ><b>From:</b> </p>
            <p  > 
                <apex:outputtext >Hermon Bldg 4th floor <br/>
                P.O. Box 586 Inustrial Park<br/>
                Yokneam 20692<br/>
                ISRAEL<br/>
                Phone 04-909-7200<br/>
                Fax: 04-959-3245<br/>
                {!anRMA.Mellanox_Site__r.Name} <br/>
            </apex:outputtext>
            </p>
        
            
            </td> 
           </tr>
          
           </table>
       
       
       
       
       
       <!-- *******************   -->
       
       
          
       
       <br/>
       Dear Valued customer,<br/> 
       We have received your RMA request for the following item:<br/><br/>
       
       <apex:outputText value="List of approved products:" style="font-weight:bold" >
       </apex:outputText>
        <br/> <br/>
 
       <!-- <apex:pageBlockTable value="{!lst_SNs}" var="sn" border="0" width="100%"> -->
       <apex:dataTable value="{!lst_SNs_Unique}" var="sn" cellPadding="2" border="1" width="100%" style="background-color : #F3F3EC!important;"> 

       <apex:column headerValue="Product P.N" style="background-color : #FFFFFF!important;">{!sn.Part_Number}</apex:column>
       <apex:column headerValue="Supplied P.N" style="background-color : #FFFFFF!important;">{!sn.Sup_Part_Number}</apex:column>
       <apex:column headerValue="RMA Type" style="background-color : #FFFFFF!important;">{!sn.snRMATypeFinal}</apex:column>
       
       <apex:column headerValue="Product Description" style="background-color : #FFFFFF!important;">{!sn.snDescrip}</apex:column>
       <apex:column headerValue="Problem Description" style="background-color : #FFFFFF!important;">{!sn.snProbemDescrip}</apex:column>
       <apex:column headerValue="Quantity" style="background-color : #FFFFFF!important;">{!sn.Quantity}</apex:column>
       <!--<apex:column headerValue="Serial" style="background-color : #FFFFFF!important;">{!sn.Serial}</apex:column>-->
       <apex:column headerValue="Serial"  style="background-color : #FFFFFF!important;">
           <apex:repeat value="{!sn.lst_SnNumApp}" var="sril" id="theRepeat">
           <apex:outputText value="{!sril}" id="theValue"/><br/>
           </apex:repeat>
       </apex:column>
     
       
        </apex:dataTable> 
       <!--        </apex:pageBlockTable>-->
       <br/> <br/>
       <apex:outputText value="List of rejected products:" rendered="{!RejectedSNs}" style="font-weight:bold" >
       </apex:outputText>
        <br/> <br/><br/>
 

        <apex:dataTable value="{!lst_SNs_Rejected}" var="sn" cellPadding="2" border="1" width="100%"  rendered="{!RejectedSNs}"  style="background-color : #F3F3EC!important;font-size:14px;"> 

       <apex:column headerValue="Product P.N" style="background-color : #FFFFFF!important;" >{!sn.Part_Number}</apex:column>
       <apex:column headerValue="Supplied P.N" style="background-color : #FFFFFF!important;" >{!sn.Sup_Part_Number}</apex:column>
       <apex:column headerValue="Rejection Reason" style="background-color : #FFFFFF!important;" >{!sn.Rejection_Reason}</apex:column>
       <apex:column headerValue="RMA Type" style="background-color : #FFFFFF!important;" >{!sn.snRMATypeFinal}</apex:column>
       
       <apex:column headerValue="Product Description" style="background-color : #FFFFFF!important;" >{!sn.snDescrip}</apex:column>
       <!--<apex:column  headerValue="Problem Description" style="background-color : #FFFFFF!important;" >{!sn.snProbemDescrip}</apex:column>-->
      
       <apex:column headerValue="Qty" style="background-color : #FFFFFF!important;" >{!sn.Quantity}</apex:column>
       <apex:column headerValue="Serial"  style="background-color : #FFFFFF!important;"   >
           <apex:repeat value="{!sn.lst_SnNumRejected}" var="sril" id="theRepeat"  >
           <apex:outputText value="{!sril}" id="theValue"/><br/>
           </apex:repeat>
       </apex:column>
       
       
        </apex:dataTable>  
       
        <br/> 
       
                                        
       Kindly send us back the above product to the following address:<br/>
       <br/>
     <table width="100%" border="1">
        <tr width="100%">
            <td width="33%" >
                

       <b> <apex:outputText > {!MellanoxSite.Address__c}</apex:outputText><br/>
           <apex:outputText > {!MellanoxSite.City__c}</apex:outputText>
           <apex:outputText > {!MellanoxSite.Zip__c}</apex:outputText><br/>
           <apex:outputText > {!MellanoxSite.Country__c}</apex:outputText><br/>
           <apex:outputText > {!MellanoxSite.Phone__c}</apex:outputText><br/>
       </b><br/>
       <b> <apex:outputText > &nbsp;&nbsp;&nbsp;&nbsp;{!anRMA.Retrun_Euip_Msg__c}</apex:outputText><br/></b>
       
       </td>
       </tr>
       </table>       
        <br/>
                             
       When returning the product, please follow the instructions below to ensure your delivery arrives in a timely manner and is not damaged in
        transit.<br/>
        Note: Mellanox will not be responsible for any damage incurred to the product while in transit.<br/><br/>
       
         <table width="100%" style="text-align:justify;">
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            1.
            </td>
            <td width="95%">
               Please return the product in its original factory box or similar packaging. The products should be placed in an
               ESD-protective bag, and then secured in the shipping box using bubble wrap or alternative shipping materials. If more
               than one item is being sent, please ensure the items are bubble-wrapped individually inside the box.<br/>
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            2.
            </td>
            <td width="95%">
               Please make sure to extract any external FRU (such as power supply or fan modules), which were not included 
               in the original assembly of the product, before returning the faulty asset.<br/>
       
            </td>
        </tr>

        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            3.
            </td>
            <td width="95%">
               This RMA Letter should be attached to the outside of the shipping box
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            4.
            </td>
            <td width="95%">
               Please reference the Mellanox RMA number referenced above on the outer shipping box and all shipping paperwork
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            5.
            </td>
            <td width="95%">
               When returning multiple RMAs, clearly group and label each RMA separately
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            6.
            </td>
            <td width="95%">
                Advanced Replacements, if approved will be shipped from Mellanox following our receipt of the carrier name and
           tracking number of your shipment containing this RMA product
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            7.
            </td>
            <td width="95%">
                The carrier name and tracking number should be sent via email to rma@mellanox.com Please reference the RMA
           number in the email
       
            </td>
        </tr>
        
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            8.
            </td>
            <td width="95%">
              <u><b>  If the RMA Product has not been received by Mellanox within 30 days after the delivery
           of an Advanced Replacement, Mellanox will invoice you for the replacement product</b></U>
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            9.
            </td>
            <td width="95%">
              <u><b>  If we do not receive a response or the product that is the subject of this RMA is not received at the Mellanox
           return address above within 30 days, this RMA will be cancelled</b></U>
       
            </td>
        </tr>
        <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            10.
            </td>
            <td width="95%">
              <u><b>  In the event that no defect is discovered by Mellanox upon receipt of any returned product, the
           product will be returned to you at your expense and you may be required to reimburse Mellanox for the cost
           associated with testing the alleged defective product. This No Defect Found cost is $150 USD per HCA adapter
           card or $300 USD per switch or switch FRU, and does not include the cost of shipping</b></U>
       
            </td>
        </tr>
        
       <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            11.
            </td>
            <td width="95%">
              <u><b>  Mellanox ship back RMA under Incoterms DDP - VAT Excluded. It assumes that the RMA contact undertake
               all "international" customs duties and tax requirements applicable to the shipment in the RMA contact’s 
               country at the time of arrival. Avoid RMA shipment delay by providing your company VAT number.  </b></U>
       
            </td>
        </tr>

       <tr width="100%">
            <td width="5%" style = "vertical-align:top;">
            12.
            </td>
            <td width="95%">
              <u><b>  Customer is responsible to obtain at his own risk and expense any export and import license and other official authorization.</b></U>
       
            </td>
        </tr>
 

               
        </table>
        <br/><br/>
        Read more on Mellanox RMA and RMA policy: http://www.mellanox.com/pdf/support/Mellanox_Return_Material_Authorization_%28RMA%29.pdf 

       
 
  </apex:pageBlock> 
  

</html>  

</apex:page>