<apex:page Controller="VF_Resellers_Related_Contracts" standardStylesheets="false" action="{!redirectNonResellersUsersToStandardContractsPage}">
  
  <style>
  
  .pbBody, .pbBody a, .pbBody td, .lbBody a, .lbBodyDescription, .list .headerRow .noRowsHeader {
  
  
      color: #0e4a81;
      font-weight: bold;
  }
  
  </style>
  
  <apex:form Id="mainForm">
  
    <apex:outputPanel id="pnlStatus1">
        <apex:actionStatus id="LoadingStatus1">
            <apex:facet name="start">
                <c:ActionStatus BackColor="#efefef" borderColor="#336699" borderSize="3" height="50px" width="150px" ImageUrl="{!$Resource.AjaxAnimation}" Message="Loading..." messageStyle="color:darkred;font-size:11pt;font-weight:bold;"/>
            </apex:facet>
        </apex:actionStatus>
    </apex:outputPanel>
  
    <div class="bPageTitle">
    <div class="ptBody"><div class="content"><img src="/s.gif" alt="Contract" class="pageTitleIcon" title="Contract"/><h1 class="pageType">Contracts<span class="titleSeparatingColon">:</span></h1><h2 class="pageDescription"> Home</h2><div class="blank">&nbsp;</div></div><div class="links"><a href="javascript:openPopupFocusEscapePounds(%27https://help.salesforce.com/apex/htdoor?loc=help&target=co_overview.htm&section=CustomObjects&language=en_US&release=194.10&instance=CS13&showSplash=true%27, %27Help%27, 1024, 768, %27width=1024,height=768,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no%27, false, false);" title="Help for this Page (New Window)"><span class="helpLink">Help for this Page</span><img src="/s.gif" alt="" class="helpIcon"/></a></div></div>
    <div class="ptBreadcrumb"></div>
    </div>
    
    <br/>
 
    
    
  
      <apex:panelGrid columns="2" style="margin-right:25em;">
      <apex:selectList value="{!selectedView}" id="chosenContractType" size="1" required="false" style="height:25px; font-size:small;">
      <apex:actionsupport event="onchange" rerender="mainBlock" status="LoadingStatus1"  action="{!fillTheRelatedContactsList}"/>
      <apex:selectOptions value="{!SelectContracts}" /> 
      </apex:selectList>
      </apex:panelGrid>
       
    
    <br/>
      
   <apex:pageblock Id="mainBlock" >   
    <apex:pageblockTable value="{!relatedContracts_List}" var="cont">
    
      <apex:column value="{!cont.Renew_Contract__c}"/> 
      
      <apex:column headerValue="Contract" rendered="{!displayLink2Contract}">
      <apex:outputLink value="{!URLFOR($Action.Contract2__c.View, cont.Id)}">{!cont.Name}</apex:outputLink>
      </apex:column>
      
      <apex:column value="{!cont.Name}" rendered="{!NOT(displayLink2Contract)}"/>
      <apex:column value="{!cont.Account__r.Name}"/>
      <apex:column value="{!cont.CTF__c}"/>
      <apex:column value="{!cont.Contract_Start_Date__c}"/>
      <apex:column value="{!cont.EndDate__c}"/>
      <apex:column value="{!cont.Contract_Term_months__c}"/>
      <apex:column value="{!cont.Order__c}"/>
      <apex:column value="{!cont.Status__c}"/>
      
    
    </apex:pageblockTable>  
  
  
   </apex:pageblock>
  
  </apex:form>   
  
</apex:page>