<apex:page Controller="VF_RMA_DangerousGoodsApproval_Form" showHeader="false"> 

    <script type="text/javascript">
    
    function disclameFieldsValidate(firstName, lastName, Date, consentCB){
        
        
         var firstNameDiv = document.getElementById(firstName);
         var firstNameValue = firstNameDiv.value;
         
         var lastNameDiv = document.getElementById(lastName);
         var lastNameValue = lastNameDiv.value;
         
         var dateDiv = document.getElementById(Date);       
         var dateValue = dateDiv.value;
         
         var consentDiv = document.getElementById(consentCB);
         var consentValue = consentDiv.checked;
         
         if (firstNameValue == ''){
             
            alert("Please fill in Disclamer First Name");
            return false;  
         }  
        
         if (lastNameValue == ''){
             
            alert("Please fill in Disclamer Last Name");
            return false;  
         }
         
         if (dateValue == ''){
             
            alert("Please fill in Disclamer Date");
            return false;  
         }
         
         if (!consentValue){
             
            alert("You need to agree to the terms");
            return false;  
         }
      }
    
     </script>
    
    
    
    <apex:form >
    
           <apex:pageBlock rendered="{!displayform}">
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <apex:panelGrid columns="2" style="margin-left:51.5em;">  
           <apex:image url="http://www.mellanox.com/img/news/media_kit/logo/Mellanox_logo.gif"/>  
           <br/>   
           <br/>
           <br/>
           <br/>
           <br/>    <font color="gray" size="3"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           
           Mellanox Technologies Ltd.</font> 
           <br/>  
            
           
           <font color="gray"> _____________________________________________________________________</font>
           </apex:panelGrid>            
           <br/>     
           
           <center>
           <apex:outputLabel style="font-weight:bold; font-size:100%; color:Red;" value="{!ErroMessage}"/>
           
           <br/>   
           <br/>
           <br/>
                
             <apex:panelGrid columns="2" style="margin-left:28em;"> 
        
           <apex:pageBlockSection columns="1" id="blockSec1">
           
              <apex:pageBlockSectionItem > 
                 <apex:outputLabel style="font-weight:bold; font-size:130%; color:black;" value="Dear Valuable customer, Please read the following and sign at the bottom."/>    
              </apex:pageBlockSectionItem>
            
               
              <apex:pageBlockSectionItem > 
                  <apex:outputLabel style="font-weight:bold; color:black;" value="Please note that your RMA return will be approved only upon your signing this document and returning it to Mellanox"/>     
              </apex:pageBlockSectionItem> 
              <apex:pageBlockSectionItem > 
                  <apex:outputLabel style="font-weight:bold; color:black;" value="FRU PN MTEF-PSF-AC-B, MTEF-BBU-A, part of PNs MSX6710-FS2F2, MSX6720-FS2F2,  "/>  
              </apex:pageBlockSectionItem> 
                
              <apex:pageBlockSectionItem > 
                  <apex:outputLabel style="font-weight:bold; color:black;" value="MSX6730-FS2F2, MSX5710-FS2F2, MTEF-PSF-AC-A, MTEF-PSR-AC-A contains Lithium ION batteries "/>   
              </apex:pageBlockSectionItem> 
              <apex:pageBlockSectionItem > 
                  <apex:outputLabel style="font-weight:bold; color:black;" value="considered by IATA as “Dangerous Goods”, therefore the material must "/>   
              </apex:pageBlockSectionItem> 
              <apex:pageBlockSectionItem > 
                  <apex:outputLabel style="font-weight:bold; color:black;" value="be returned in its original packing and dissembled from the switch. "/>   
              </apex:pageBlockSectionItem> 
              <apex:pageBlockSectionItem > 
                  <apex:outputLabel style="font-weight:bold; color:black;" value="If you are sending only Power supply and or Switch, please assure they have no batteries assembled to the products."/> 
              </apex:pageBlockSectionItem> 
              <br/> 
               
              <apex:pageBlockSectionItem id="consSec" > 
              <apex:panelGrid columns="2" style="margin-right:8em;"> 
               <apex:inputCheckbox id="consentCB" selected="false" />
               <apex:outputlabel style="font-weight:bold;"
               value="I hereby confirm that I read the above state and the material will be returned to Mellanox warehouse in the original packing" for="Terms"/>
               </apex:panelGrid>
               </apex:pageBlockSectionItem> 
             
               </apex:pageBlockSection> 
                         
           </apex:panelGrid>
          
         
         
          <center>
           <center>
            <Table width="35%" align="center"><tbody >
                
             <tr>
                 <br/>
              <td>
                
               <apex:panelGrid columns="2" style="margin-right:12em;" >
                <apex:pageBlockSection columns="3" Id="pgsc1">
                 <apex:outputLabel value="Disclamer First Name" style=" color:#4B4A4A; font-weight:bold;"> 
                 <apex:inputtext value="{!MainRMA.Disclamer_First_name__c}" id="disclamerFirstName" label=""/> 
                 </apex:outputLabel>
                 <apex:outputLabel value="Disclamer Last Name" style=" color:#4B4A4A; font-weight:bold;">
                 <apex:inputtext value="{!MainRMA.Disclamer_Last_name__c}" id="disclamerLastName"  label="" /> 
                 </apex:outputLabel>
                  <apex:outputLabel value="Disclamer Date" style="color:#4B4A4A; font-weight:bold;">
                <apex:inputField value="{!MainRMA.Disclamer_Date__c}" id="disclamerDate" label=""/>
                </apex:outputLabel>
               </apex:pageBlockSection> 
              </apex:panelGrid>
                   
             </td>
            </tr>
             
                </tbody>
               
                </Table>
                
              </center>
             </center>
               <br/>
             <div id="divSubmitButton">
             <apex:panelGrid columns="2" style="margin-right:44em;" >
             <apex:commandButton value="Submit RMA Request" Id="submitButton" action="{!submitConsent}" 
             onclick="return disclameFieldsValidate('{!$Component.pgsc1.disclamerFirstName}','{!$Component.pgsc1.disclamerLastName}',
             '{!$Component.pgsc1.disclamerDate}','{!$Component.blockSec1.consSec.consentCB}');" immediate="false"/>
             </apex:panelGrid>
             </div>
             </center>
         </apex:pageBlock>
        
         <apex:pageBlock rendered="{!displayThankYou}">
         <center>
          <apex:outputLabel style="font-weight:bold; color:blue; font-size:11pt;" value="Thank you for submitting the form."/>     
           </center>
         </apex:pageBlock>
         
        <br/>
        <br/>
    </apex:form>   
 </apex:page>