<apex:page standardController="Contract2__c" extensions="VF_Upload_PO_To_Contract" showHeader="false" standardStylesheets="false">
    
    <html>  
        
        <style>
            
            .bPageBlock .detailList .dataCol {
            
            width:10%;
            }
            
            
            .allButtons {
            
            -moz-box-shadow: -4px 7px 0px 1px #e0e8ff;
            -webkit-box-shadow: -4px 7px 0px 1px #e0e8ff;
            box-shadow: -4px 7px 0px 1px #e0e8ff;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #294678), color-stop(1, #476e9e));
            background:-moz-linear-gradient(top, #294678 5%, #476e9e 100%);
            background:-webkit-linear-gradient(top, #294678 5%, #476e9e 100%);
            background:-o-linear-gradient(top, #294678 5%, #476e9e 100%);
            background:-ms-linear-gradient(top, #294678 5%, #476e9e 100%);
            background:linear-gradient(to bottom, #294678 5%, #476e9e 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#294678', endColorstr='#476e9e',GradientType=0);
            background-color:#294678;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
            border-radius:10px;
            border:1px solid #172c6b;
            display:inline-block;
            cursor:pointer;
            color:white;
            font-family:Verdana;
            font-size:12px;
            font-weight:bold;
            padding:2px 12px;
            text-decoration:none;
            
            }
            
            .poUploadDiv {
            
            font-family:Arial,Helvetica,sans-serif;
            font-weight:bold;
            font-size: 14px;
            }
            
            #mainDiv {
            font-family:Arial,Helvetica,sans-serif;
            margin-left: 1em;
            
            }
            
            .bPageBlock .detailList .dataCol {
            
            width:85%;
            }
            
            
            .underline {
            
            border-bottom:3px solid #007fcc;
            }
            
            
        </style>
        
        <script type="text/javascript" src="{!URLFOR($Resource.Support_zip_js, 'jquery.min.js')}"></script>
        
        <script language="javascript" type="text/javascript">
            
            $(document).ready(function(){
            
            $("#QuotePDFDiv").fadeIn(6000);
        });
        
        </script> 
        
        
        
        
        
        <apex:form Id="theForm">
            
            <apex:outputPanel id="pnlStatus1">
                <apex:actionStatus id="LoadingStatus1">
                    <apex:facet name="start">
                        <c:ActionStatus BackColor="#efefef" borderColor="#336699" borderSize="3" height="50px" width="150px" ImageUrl="{!$Resource.AjaxAnimation}" Message="Loading..." messageStyle="color:darkred;font-size:11pt;font-weight:bold;"/>
                    </apex:facet>
                </apex:actionStatus>
            </apex:outputPanel>
            
            <apex:pageblock >
            
                <div Id="mainDiv">   
                    <!-- *******************  START PO SECTION   ********************* -->
                   <apex:outputPanel rendered="{!displayWholeSection}"> 
                    
                    <br/>
                    
                    <apex:pageMessages id="error"/>
                    <br/>
                    <font size="3">
                        <apex:panelGrid columns="2" style="margin-left:0.5em;">
                            <apex:outputLabel value=" Contract :" style="color:#0E4a81;font-weight:bold; font-family:Arial,Helvetica,sans-serif;"/>
                            <apex:outputText value="{!theContract.Name}" style="color:#0E4a81;font-weight:bold; font-family:Arial,Helvetica,sans-serif;"/>
                        </apex:panelGrid>
                        
                        <div class="underline"/> 
                    </font>
                    
                    
                    <div Id="thePOSection">
                        
                        
                        
                        <br/>
                        Dear Mellanox Technical Support customer.   <br/> <br/>
                        On this page, you can download the updated quote for your Mellanox technical support contract renewal.   <br/>
                        
                        <br/>
                        <br/>
                        <br/>  
                        <br/>
                        
                        <apex:commandButton action="{!moveToQuotePDF}" value="Click Here to Create Your Quote" style="width:250px; height: 30px;" styleclass="allButtons" status="LoadingStatus1" rerender="theForm"/> 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; 
                        <b> OR </b>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
                        <apex:commandButton id="uploadfile" styleclass="allButtons" value="Click here to Upload Your Purchase Order" onclick="popUpAttFilePage();" rerender="theForm" style=" width:310px; height:30px;" rendered="{!displayUploadThePoButton}"/> <br/> <br/>
                        
                        <apex:panelgrid columns="2" width="1170px">
                            <apex:pageblocksection >
                                <div class="poUploadDiv">
                                    in order to proceed with the contract renewal procces, <p/>
                                    please attach the downloaded ofiicial quote to a standard <p/>
                                    purchase order, scan the to one file and upload the file <p/>
                                    to the system
                                </div>
                            </apex:pageblocksection>
                            
                            
                            
                            <apex:pageblocksection >
                                <div class="poUploadDiv">
                                    Please find attached 2 examples of purchase orders: <p/>
                                    Click here to download the US purchase order <a href="https://mellanox--c.na3.content.force.com/servlet/servlet.FileDownload?file=01550000001j9pl"> Purchase Order US </a><p/>
                                    Click here to download the EMEA/APAC purchase order <br/><a href="https://mellanox--c.na3.content.force.com/servlet/servlet.FileDownload?file=01550000001j9pk"> Purchase Order EMEA/APAC </a><p/> <p/>
                                </div>
                            </apex:pageblocksection>
                        </apex:panelgrid>
                        
                        <br/>
                        <br/>
                        <br/>
                        
                         
                        <div class="poUploadDiv">
                        <b> <u> Need to create Mellanox as a new supplier in your system? </u> </b> <p/>
                        Click here to download Mellanox updated W-9 application <a href="https://mellanox--c.na3.content.force.com/servlet/servlet.FileDownload?file=01550000001j9pn"> W9 </a> <p/>
                        Click here to download Mellanox supplier verification <a href="https://mellanox--c.na3.content.force.com/servlet/servlet.FileDownload?file=01550000001j9po"> Click Here </a> <p/>
                        Click here to download Mellanox Bank account details <a href="https://mellanox--c.na3.content.force.com/servlet/servlet.FileDownload?file=01550000001j9pm"> Click Here </a> <p/>
                        </div>
                        
                         
                        <apex:commandButton value="Close"  styleclass="allButtons" style="width:60px; height: 30px; " action="{!backHome}"/> &nbsp; 
                        
                        <apex:commandbutton value="Start the proccess again" styleclass="allButtons" action="{!resetTheProccess}" style="width:190px; height: 30px;" onclick="refreshParent();" rendered="{!displayResetProcessBtn}"/> 
                        
                        
                    </div>
                    <br/> 
                    </apex:outputpanel>
                    
                    <apex:outputpanel rendered="{!NOT(displayWholeSection)}">
                    
                     
                    <apex:panelGrid columns="2">
                            <apex:outputLabel value=" Contract :" style="color:#0E4a81;font-weight:bold; font-family:Arial,Helvetica,sans-serif;"/>
                            <apex:outputText value="{!theContract.Name}" style="color:#0E4a81;font-weight:bold; font-family:Arial,Helvetica,sans-serif;"/>
                            </apex:panelGrid>
                            <br/>
                            <b><apex:pageMessages id="message"/> </b>
                            <br/>
                            <br/>
                            <apex:commandButton value="Close"  styleclass="allButtons" style="width:60px; height: 30px; " action="{!backToContractsList}"/> &nbsp; 
                        <br/>
                        <br/>
                        
                        <div class="underline"/> 
                    
                    
                    </apex:outputpanel>
                </div> 
            </apex:pageblock>
        </apex:form> 
        
        
        <script>
        
        function closeWindow() {
            
            window.close();  
        }
        
        function getQueryVariable(variable)
        {
            var query = window.location.search.substring(1);
            var pair = query .split('=');
            
            return(pair[1]);
        }    
        
        function popUpAttFilePage() {
            
            
            var theContractId = getQueryVariable('id'); 
            //alert(theContractId );
            var theURL;
            
            
            
            
            if (window.location.origin == 'https://mellanox--test--c.cs2.visual.force.com') {
                
                theURL = '/apex/VF_Upload_The_PO?Id=' + theContractId;
            }
            
            else {
                
                theURL = '/support/apex/VF_Upload_The_PO?Id=' + theContractId;
            }
            
            
            
            window.open(theURL, 'Popup2','height=300,width=730,left=400,top=250,scrollbars=yes,toolbar=no,status=no'); 
        }
        
        window.onclose = function() {
            
            opener.location.reload(); 
        }
        
        function refreshParent() {
            
            window.opener.location.reload();
        }
        
        
        </script>
        
        
    </html>
</apex:page>