<apex:page controller="DSCORGPKG.DiscoverOrg_clsBrowse">
<apex:form >
<apex:pageBlock >
<apex:pageMessages />
<apex:commandLink value="Select All" action="{!checkAll}"/>
&nbsp;
<apex:commandLink value="Select None" action="{!unCheckAll}"/>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<apex:commandLink value="A" action="{!extractAllA}" />&nbsp;
<apex:commandLink value="B" action="{!extractAllB}"/>&nbsp;
<apex:commandLink value="C" action="{!extractAllC}"/>&nbsp;
<apex:commandLink value="D" action="{!extractAllD}"/>&nbsp;
<apex:commandLink value="E" action="{!extractAllE}"/>&nbsp;
<apex:commandLink value="F" action="{!extractAllF}"/>&nbsp;
<apex:commandLink value="G" action="{!extractAllG}"/>&nbsp;
<apex:commandLink value="H" action="{!extractAllH}"/>&nbsp;
<apex:commandLink value="I" action="{!extractAllI}"/>&nbsp;
<apex:commandLink value="J" action="{!extractAllJ}"/>&nbsp;
<apex:commandLink value="K" action="{!extractAllK}"/>&nbsp;
<apex:commandLink value="L" action="{!extractAllL}"/>&nbsp;
<apex:commandLink value="M" action="{!extractAllM}"/>&nbsp;
<apex:commandLink value="N" action="{!extractAllN}"/>&nbsp;
<apex:commandLink value="O" action="{!extractAllO}"/>&nbsp;
<apex:commandLink value="P" action="{!extractAllP}"/>&nbsp;
<apex:commandLink value="Q" action="{!extractAllQ}"/>&nbsp;
<apex:commandLink value="R" action="{!extractAllR}"/>&nbsp;
<apex:commandLink value="S" action="{!extractAllS}"/>&nbsp;
<apex:commandLink value="T" action="{!extractAllT}"/>&nbsp;
<apex:commandLink value="U" action="{!extractAllU}"/>&nbsp;
<apex:commandLink value="V" action="{!extractAllV}"/>&nbsp;
<apex:commandLink value="W" action="{!extractAllW}"/>&nbsp;
<apex:commandLink value="X" action="{!extractAllX}"/>&nbsp;
<apex:commandLink value="Y" action="{!extractAllY}"/>&nbsp;
<apex:commandLink value="Z" action="{!extractAllZ}"/>&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<apex:commandButton value="Add Selected As Leads To Salesforce" action="{!saveLeads}"/>

<apex:pageBlockTable value="{!Leads}" var="a">
    <apex:column value="{!a.company.account.Name}" headerValue="Company Name" />
    <apex:column headerValue="Add to Salesforce" >
        <apex:inputCheckbox value="{!a.Selected}"/>&nbsp;{!a.company.account.Id}
    </apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>