<apex:page standardcontroller="DSCORGPKG__Conflict__c" extensions="DSCORGPKG.DiscoverOrg_ConflictResolver">
    <apex:messages />
    <apex:form id="frm" > 
        <div id="pnlLoadingtop1"
            style="background: none repeat scroll 0 0 #f2f2f2; height: 100%; width: 100%; opacity: 0.7; filter: alpha(opacity = 70); 
            position: absolute; text-align: center; z-index: 200; padding-top: 50px; top:2px; left:0px; display:none; "><!-- 233 -->
            <div style="position:fixed; top: 50%; left: 50%; margin-top: -45px; margin-left: -45px;">
                <apex:image value="/img/loading32.gif"/> <font color="red"><b>Retrieving data from DiscoverOrg...</b></font>
            </div>
        </div>
     <apex:actionFunction name="callSave" reRender="frm"/>
     
     <apex:sectionHeader title="DiscoverOrg for Salesforce" subtitle="Import Conflicts"/>
       <apex:pageBlock title="Select the desired fields to import">
        <apex:pageBlockButtons >        
        <apex:outputPanel id="buttons">
            <apex:commandButton value="Save" action="{!Save}"/> 
        </apex:outputPanel>
        
        </apex:pageBlockButtons>
    
        
        <apex:pageBlockTable value="{!fields}" var="field">
            <apex:column width="15%" value="{!field.name}" headerValue="Name of Field"/>            
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" >                
                <apex:inputCheckBox rendered="{!field.conflict}" styleClass="{!HTMLENCODE(field.apiName)}db" value="{!field.useDiscoverOrgData}" onclick="OnSelect('{!JSENCODE(field.apiName)}sf');"/>                
            </apex:column>           
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" width="45%" >
                <apex:facet name="header"><img src="{!URLFOR($Resource.DSCORGPKG__DiscoverOrgUI,'images/logo.png')}"/></apex:facet>        
                <apex:outputText value="{!field.fieldDBValue}" />
            </apex:column>
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" >
                 <apex:inputCheckBox rendered="{!field.conflict}" styleClass="{!HTMLENCODE(field.apiName)}sf" onclick="OnSelect('{!JSENCODE(field.apiName)}db');"/>                                                                     
            </apex:column>
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" width="45%" >
                <apex:facet name="header"><img src="http://www2.sfdcstatic.com/common/assets/img/logo-company.png" /> </apex:facet>        
                <apex:outputText value="{!field.fieldSFValue}"/>
            </apex:column>
        </apex:pageBlockTable>
       <!-- <apex:pageBlockTable value="{!fields}" var="field">
            
            <apex:column width="15%" value="{!field.name}" headerValue="Name of Field"/>            
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" >                
                <apex:inputCheckBox rendered="{!field.conflict}" styleClass="{!field.apiName}db" value="{!field.useDiscoverOrgData}" onclick="OnSelect('{!field.apiName}sf');"/>                
            </apex:column>           
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" width="45%" >
                <apex:facet name="header"><img src="{!$Resource.DiscoverOrgLogo}" /> </apex:facet>        
                <apex:outputText value="{!field.fieldDBValue}"/>
            </apex:column>
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}">
                 <apex:inputCheckBox rendered="{!field.conflict}" styleClass="{!field.apiName}sf" onclick="OnSelect('{!field.apiName}db');"/>                                                                     
            </apex:column>
            <apex:column style="background : {!IF(field.conflict, 'lightgray', 'auto')}" width="45%">
                <apex:facet name="header"><img src="http://www2.sfdcstatic.com/common/assets/img/logo-company.png" /> </apex:facet>        
                <apex:outputText value="{!field.fieldSFValue}"/>
            </apex:column>
        </apex:pageBlockTable>-->
        
    </apex:pageBlock>
     </apex:form>
    
    <script type="text/javascript">   
            function OnSelect(apiName)
            {                
                var inputElem = document.getElementsByTagName("input");
                for(var i=0; i<inputElem.length; i++) 
                {
                    if (inputElem[i].className == apiName) {
                        inputElem[i].checked = false;                                   
                    }
                }                             
            }          
    </script>
    <script src="{!$Resource.jquery}"></script>
    <script>
        
        //$('.DiscoverOrg_ID__cdb').prop('disabled', true);                                            
        //$('.DiscoverOrg_ID__csf').prop('disabled', true);  
        //alert($('.DiscoverOrg_ID__cdb').val());
        //$(document).ready(function(){
            //alert('hi');
            //$('.DiscoverOrg_ID__cdb').prop('checked', true);                                            
            //$('.DiscoverOrg_ID__csf').prop('checked', true);         
            $('.DiscoverOrg_ID__cdb').prop('disabled', true);                                            
            $('.DiscoverOrg_ID__csf').prop('disabled', true);   
            //$('.LeadSourcedb').prop('disabled', true);   
            //$('.LeadSourcesf').prop('disabled', true);                
        //} 
        function callmeSave(){
            document.getElementById('pnlLoadingtop1').style.display = 'block';
            $('.DiscoverOrg_ID__cdb').prop('disabled', false);                                            
            $('.DiscoverOrg_ID__csf').prop('disabled', false);        
            //$('.LeadSourcedb').prop('disabled', false);   
            //$('.LeadSourcesf').prop('disabled', false);                
            callSave();
        }
    </script>
    
</apex:page>