<apex:page Controller="DSCORGPKG.DiscoverOrgSetupController" tabStyle="DiscoverOrgSearch__tab">
   <link href="{!URLFOR($Resource.DiscoverOrgUI,'css/style.css')}" type="text/css" rel="stylesheet" />
   <link href="{!URLFOR($Resource.DiscoverOrgUI,'css/fonts/fonts.css')}" type="text/css" rel="stylesheet" />  
    <apex:form id="pgmain"> 
    	<apex:pageBlock title="Hello {!$User.FirstName}, Welcome to the DiscoverOrg application setup!" >
        Please complete the required information below to begin using the DiscoverOrg application.<br/>&nbsp;
            <apex:pageMessages />
            <!-- reRender="pgmain" -->
            <apex:pageBlockButtons >
            	<apex:commandButton action="{!save}" value="Save" onclick="javascript:document.getElementById('divProcessingRecent').style.display = 'block';"/>
            </apex:pageBlockButtons>
            
            <div id="divProcessingRecent" style="display:none;">
            	<img id="img_processing" class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                <font color="red"><b>Authenticating user</b></font>
            </div>
            
            <apex:pageBlockSection title="DiscoverOrg Credentials" columns="1" collapsible="false" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Salesforce Username"/>
                    <apex:outputLabel value="{!sfdcusername}" id="SFDCUsername"/>
                </apex:pageBlockSectionItem>  
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="DiscoverOrg Username"/>
                    <apex:inputText value="{!username}" id="Username"/>
                </apex:pageBlockSectionItem>  
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="DiscoverOrg Password"/>
                    <apex:inputSecret value="{!password}" id="Password"/>
                </apex:pageBlockSectionItem>  
            </apex:pageBlockSection>
            
        </apex:pageBlock>
	</apex:form>
	<apex:form id="insFrm">        
        <apex:pageBlock title="Instance" id="instance_pb" rendered="{!isshowInstanceBlock}">
            <apex:pageBlockButtons location="Top">
                <apex:commandButton value="Update Instance" action="{!updateInstance}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Current Instance"/>
                    <apex:outputLabel value="{!previousInstance}"/>
                </apex:pageBlockSectionItem>   
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="New Instance"/>
                    <apex:inputText value="{!newInstance}"/>
                </apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock title="Show API Information" id="showAPI_pb" rendered="{!isshowInstanceBlock}">
            <apex:pageBlockButtons location="Top">
                <apex:commandButton value="Update" action="{!updateAPIBlock}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Show API"/>
                    <apex:inputCheckbox value="{!isShowAPI}"/>
                </apex:pageBlockSectionItem>   
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:actionFunction name="loadPreviousInstance" action="{!onLOadFunction}" reRender="insFrm"/><!-- reRender="showAPI_pb, instance_pb"-->
    </apex:form>
    
    <script>
        window.onload = function(){
            loadPreviousInstance();
        }
    </script>
    
</apex:page>