<apex:page title="Contacts import details" controller="DSCORGPKG.ITOrgChartController" tabStyle="DiscoverOrgSearch__tab" action="{!LoadContactsDetails}" >
<link href="{!URLFOR($Resource.DiscoverOrgUI,'css/style.css')}" type="text/css" rel="stylesheet" />
<link href="{!URLFOR($Resource.DiscoverOrgUI,'css/fonts/fonts.css')}" type="text/css" rel="stylesheet" />
<style>
        .matchingAccount,.mergedRecord,.addedRecord { width:966px; margin:0 auto}
        .matchingAccount h3,.mergedRecord h3,.addedRecord h3 {  background: #dedede; display: block; margin: 10px 0 0;padding: 10px 0 10px 10px; font-size:16px}
        .matchingAccount table,.mergedRecord table,.addedRecord table{  width:966px;  border: 3px solid #dedede;}
        .matchingAccount table tr,.mergedRecord table tr,.addedRecord table tr{  width:960px;}
        .matchingAccount table thead tr,.mergedRecord table thead tr,.addedRecord table thead tr{  background: #f2f2f2;  border-bottom: 1px solid #dedede;  float: left;  }
        .matchingAccount table tr th,.mergedRecord  table tr th{  width:650px;  padding:10px 0 10px 10px; vertical-align:middle  }
        .matchingAccount table tr th:first-child,.mergedRecord  table tr th:first-child{  width:290px;  padding:10px 0 10px 10px;border-right:1px solid #dedede}
        .matchingAccount table tr td,.mergedRecord table tr td{ float:left;  width:645px;  padding:10px 0 10px 10px;vertical-align:middle;border-left:1px solid #dedede }
        .matchingAccount table tr td:first-child,.mergedRecord table tr td:first-child{  width:289px;  padding:10px 0 10px 10px;border-left:none}
         a.commadNext, a.commandCancel{ background: #55a305 none repeat scroll 0 0;   border: 1px solid #777;  border-radius: 3px;  color: #fff; display:inline-block;  font-weight: bold;   height: auto;  margin: 10px 2px;  padding: 5px 20px;  text-decoration: none; display:inline-block}
         a.commadNext{ margin-left:0}
        .addedRecord  table tr th{  width:300px;  padding:10px 0 10px 10px; vertical-align:middle; border-left:1px solid #dedede  }
        .addedRecord  table tr th:first-child{  width:359px;  padding:10px 0 10px 10px;border-left:none}
        .addedRecord  table tr td{ float:left;  width:291px;  padding:10px 0 10px 10px;vertical-align:middle;border-left:1px solid #dedede }
        .addedRecord  table tr td:first-child{   padding:10px 0 10px 10px;border-left:none; width:346px}
        .actionButton{text-align:center; display:block}
        .mainWrapper{ float:left; border:1px solid #dedede; border-top:3px solid #dedede}
         body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock{ border-radius:0;  border-color:#dedede}
</style>
<apex:sectionHeader title="Contacts import details"/>
<apex:form >
    <apex:pageBlock >
        <apex:pageMessages />
        <apex:pageBlockButtons >  
            <apex:outputPanel id="buttons">
                <apex:commandButton action="{!SaveContacts}" value="Finish"  onClick="javascript:document.getElementById('divProcessing').style.display = 'block';"/>
                <apex:commandButton action="{!returnToOrgChart}" value="Cancel" />
            </apex:outputPanel>
        </apex:pageBlockButtons>  
        <div id="divProcessing" style="display:none;">
                    <img id="img_processing" class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <font color="red"><b>Processing</b></font>
        </div>
        
        
      
        
        
                <div class="matchingAccount" style="display:{!if(AND(NOT(ISNULL(result.multiDups)),result.multiDups.size>0),'block','none')}">
            <h3>Please select matching Contact in Salesforce</h3>
            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>DiscoverOrg Contact</th>
                        <th>Existing Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <apex:repeat value="{!result.multiDups}" var="dup">
                        <tr>
                            <td> <apex:outputText > {!dup.contact.FirstName}  {!dup.contact.LastName}</apex:outputText></td>
                            <td>
                            <apex:selectList title="{!dup.contact.name}" value="{!dup.value}" size="1">
                        <apex:selectOptions value="{!dup.options}"/>
                    </apex:selectList></td>
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
            
         
            
        </div>        
        
     
           
           
           
               <div class="mergedRecord" style="display:{!if(AND(NOT(ISNULL(result.duplicates)),result.duplicates.size>0),'block','none')}">
             <h3>Following records will be merged to existing Contacts (total {!result.duplicates.size})</h3>
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>DiscoverOrg Contact</th>
                            <th>Existing Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!result.duplicates}" var="dup">
                            <tr>
                                <td>  <apex:outputText > {!dup.contact.FirstName} {!dup.contact.LastName} </apex:outputText></td>
                                <td>  <apex:outputLink value="/{!dup.value}"> {!dup.contact.FirstName} {!dup.contact.LastName} </apex:outputLink></td> 
                                
                                
                                
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
                
          
        </div>
           
           
         
        
        
         <div class="addedRecord" style="display:{!if(AND(NOT(ISNULL(result.successful)),result.successful.size>0),'block','none')}">
             <h3>Following records will be added (total {!result.successful.size})</h3>
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            
                            <th>Account Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!result.successful}" var="dup">
                            <tr>
                              <td>   <apex:outputText > {!dup.contact.FirstName}  {!dup.contact.LastName}</apex:outputText></td>
                                
                                <td>   <apex:outputText >{!dup.contact.Account.Name}</apex:outputText></td> 
                                <td>   <apex:outputText >{!dup.contact.Phone}</apex:outputText></td>
                               
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
        </div>
        
        
    </apex:pageBlock>
</apex:form>
</apex:page>