<apex:component >
    <style>
		
		/*Following style classes are of inline version obtained by overriding the existing SFDC style classes used for ajax loading */
		.waitingSearchDiv{
			position: fixed; /*Needed to be of value 'fixed' to show faded background in Service Console View for entire page when the page has scrollbars. Normal SFDC view can have even absolute for this*/
			z-index: 90099; /*can have any random value as long as it has the highest value among the other html elements in the page*/
			height: 100%;
			width:100%;

			/*use this instead of combination (opacity as 0.6 and background-color:#000) to ensure that contents are not displayed behind the top loading div (which contains the loading image and text)*/
			background-color: rgba(0,0,0,0.6); 
		}
		.waitingSearchDiv .waitingHolder{
			width: 200px;
			background-color: #E0FFFF;
			border: 2px solid #4169E1;
			top: 45%;
			left: 45%;
			position: fixed;
			padding: 1%;
		}
		
		/*Following are the Actual SFDC style classes that were used in the below component code. 
		Consider their properties as reference to get the desired ajax loading if the style classes are altered by SFDC in future
		Properties with // at beginning indicated that they are overriden by other values
		
		.waitingSearchDiv {
			//position: absolute; //Overriden by above inline class .waitingSearchDiv
			text-align: center;
			top: 0;
			//z-index: 80;	//Overriden by above inline class .waitingSearchDiv
			left: 0;
		}
		
		.waitingSearchDiv .waitingHolder{
			//border: none;
			//background-color: transparent;
			font-size: 1em;
			font-weight: normal;
			//padding: 0;
		}
		.waitingSearchDiv .waitingHolder {
			//font-weight: bold;
			//font-size: 1.20em;
			//position: relative;
			//padding: .5em;
			white-space: nowrap;
			margin: auto;
			//width: 40%;
			//top: 45%;
			//background-color: #ffc;
			//border: 1px solid #333;
		}
		.waitingSearchDiv .waitingHolder .waitingImage {
			vertical-align: middle;
		}
		.waitingDescription {
			margin-left: 6px;
			font-weight: bold;
			color: #666;
		}
		END OF SFDC style classes
		*/
    </style>
    <apex:attribute name="statusText" type="String" description="This attribute stores the status text that would be displayed when ajax request is in progress"/>
    
    <apex:actionStatus stopText="" id="progressIndicator">
        <apex:facet name="start">
            <div class="waitingSearchDiv">
            	<div class="waitingHolder">
                    <img class="waitingImage" src="/img/loading.gif" title="{!statusText}" />
                    <span class="waitingDescription">{!statusText}</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    
     
</apex:component>