<apex:component layout="none">
<!-- Deployment -->
<script type='text/javascript' src='https://c.la1a1.salesforceliveagent.com/content/g/js/31.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la1a1.salesforceliveagent.com/chat', '572500000004CfL', '00D500000007heg');
</script>
<!-- Deployment End -->
  
  
<!-- Button Code -->
<img id="liveagent_button_online_573500000004CkC" style="display: none; border: 0px none; cursor: pointer" onclick="liveagent.startChat('573500000004CkC')" src="https://mymellanox.force.com/support/resource/1412152332000/LiveAgentButton" /><img id="liveagent_button_offline_573500000004CkC" style="display: none; border: 0px none; " src="https://mymellanox.force.com/support/resource/1412247502000/LiveAgentOffButton" />
   
<script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('573500000004CkC', document.getElementById('liveagent_button_online_573500000004CkC'));
liveagent.showWhenOffline('573500000004CkC', document.getElementById('liveagent_button_offline_573500000004CkC'));
liveagent.setName( '{!$User.FirstName} {!$User.LastName}' );

                    
                    
                    liveagent.addCustomDetail("Contact Id",'{!$User.ContactId_text__c}');
                
                    
                    liveagent.findOrCreate("Contact").map("Id", "Contact Id", true, false, false).saveToTranscript("Id").showOnCreate(true);





});</script>





<!-- Button End Code -->

</apex:component>