<apex:component controller="SiteLoginController" id="loginComponent">
	<apex:form id="loginForm" styleClass="uk-form uk-form-horizontal" forceSSL="true">
        <fieldset>
            <input type="hidden" value="{!$Page.SupportHome}" id="startUrl" name="startUrl" />
            <div class="uk-form-row">
                <apex:outputLabel styleClass="uk-form-label" value="{!$Label.site.username}" for="username"/>
                <div class="uk-form-controls">
                    <apex:inputText id="username" html-placeholder="{!$Label.site.username}" value="{!username}"/>
                </div>
            </div>
            <div class="uk-form-row"> 
                <apex:outputLabel styleClass="uk-form-label" value="{!$Label.site.password}" for="password"/>
                <div class="uk-form-controls">
                    <apex:inputSecret id="password" html-placeholder="{!$Label.site.password}" value="{!password}"/>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls uk-text-right">
                    <label for="rememberUsername" class="login-remember-me">
                        <input type="checkbox" id="rememberUsername" /> Remember Me                                            
                    </label>
                    <apex:commandButton styleClass="uk-button" action="{!login}" value="{!$Label.site.login_button}" id="loginButton"/>
                </div>
            </div>
        </fieldset>
    </apex:form>
</apex:component>