<apex:page standardController="Opportunity" extensions="jive.DealRoomController,jive.DealRoomAjaxController" sidebar="false" action="{!validateClientIdExists}">
	<html lang="en" dir="ltr">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			</meta>
			<link rel="stylesheet" type="text/css" href="{!$Resource.dealRoomStyles}" />
			<style type="text/css">
				.j-ui-elem {
				background: transparent url({!URLFOR($Resource.dealRoomResources, 'j-ui-sprite.png')}) no-repeat -100% -100%;
				}
				.jive-icon-big {
				background-image: url({!URLFOR($Resource.dealRoomResources, 'jive-icon-sprites-big.png')});
				height: 25px;
				width: 25px;
				margin: 0 6px 0 0;
				}
				.jive-icon-med {
				background-image: url({!URLFOR($Resource.dealRoomResources, 'jive-icon-sprites-med.png')});
				height: 16px;
				width: 17px;
				margin: -1px 5px 0 0;
				}
				.jive-icon-sml {
				background-image: url({!URLFOR($Resource.dealRoomResources, 'jive-icon-sprites-sml.png')});
				height: 12px;
				width: 12px;
				margin: 1px 5px 0 0;
				}
				/* icon sprites */
				.jive-icon-sml.jive-icon-idea,
				.jive-icon-med.jive-icon-idea,
				.jive-icon-big.jive-icon-idea {
				background-image: url({!URLFOR($Resource.dealRoomResources, 'j-ideas-sprites.png')});
				background-repeat: no-repeat;
				}
				/* good ones */
				.jive-icon-sml.jive-icon-idea { background-position: -60px 0; }
				.jive-icon-med.jive-icon-idea { background-position: -80px 0; }
				.jive-icon-big.jive-icon-idea { background-position: -100px 0; }
				/* good ones */
			</style>
			<!-- Character Encoding -->
			<script type="text/javascript">
				function getPlaceId() {
				    return {!placeId};
				}
				
				function getDefaultAvatarUri() {
				    return '{!URLFOR($Resource.dealRoomResources, 'default_avatar.png')}';
				}
				
				function getAjaxSearchContent() {
				    return '{!$RemoteAction.DealRoomAjaxController.searchContent}';
				}
				
				function getAjaxUserProfile() {
				    return '{!$RemoteAction.DealRoomAjaxController.getUserProfile}';
				}
			</script>
			<apex:includeScript value="{!URLFOR($Resource.jive__dealRoomResources, 'jquery.min.js')}"/>
			<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<apex:includeScript value="{!URLFOR($Resource.jive__dealRoomResources, 'jsrender.js')}"/>
			<apex:includeScript value="{!URLFOR($Resource.jive__dealRoomUserPreview)}"/>
			<apex:includeScript value="{!URLFOR($Resource.jive__dealRoomScript)}"/>
			<script id="userProfileLoadingTemplate" type="text/x-jsrender">
				<div class="j-mini-modal j-mini-modal-user" style="z-index: 2147483647;">
				    <div class="j-modal-content">
				        <div style="padding: 5px;">
				            <img src="{!URLFOR($Resource.dealRoomResources, 'jive-image-loading.gif')}" width="16" height="16" style="padding-right: 5px;" />
				            Loading user profile...
				        </div>
				    </div>
				</div>
			</script>
			<script id="searchingContentTemplate" type="text/x-jsrender">
				<div style="padding: 5px;">
				    <img src="{!URLFOR($Resource.dealRoomResources, 'jive-image-loading.gif')}" width="16" height="16" style="padding-right: 5px;" />
				    Searching for: <b>{{>text}}</b>...
				</div>
			</script>
			<script id="userProfileTemplate" type="text/x-jsrender">
				<div class="j-mini-modal j-mini-modal-user" style="z-index: 2147483647;">
				    <div class="j-modal-content">
				        <div class="j-mini-modal-header">
				            <div class="j-profile-photo-wrap">
				                <img src="{{if resources && resources.html && resources.html.ref}}{{>resources.html.ref}}/avatar/54{{else}}{{:~getDefaultAvatarUri()}}{{/if}}"
				                    class="j-profile-photo" style="padding-left: 9px;" alt="" />
				            </div>
				            <h5 style="padding: 2px 0px 1px 0px; font-weight: normal;">
				                {{if displayName}}
				                {{>displayName}}
				                {{else}}
				                    {{if jive && jive.username}}
				                        {{>jive.username}}
				                    {{else}}User{{/if}}
				                {{/if}}
				            </h5>
				            {{if (title)}}
				            <p class="font-color-meta" style="margin: 0;">
				                {{>title}} 
				            </p>
				            {{/if}}
				            {{if (department)}}
				            <p style="margin: 0;">
				                {{>department}}
				            </p>
				            {{/if}}
				        </div>
				        
				        <table style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
				            <tr>
				                <td>
				                    Email:
				                </td>
				                <td style="font-size: 12px;">
				                    {{if (email)}} <a href="mailto:{{:email}}" style="color: #3778C7;">{{>email}} </a>{{else}} (Hidden) {{/if}}
				                </td>
				            </tr>
				            {{if (primary_phone_number)}}
				            <tr>
				                <td>
				                    Phone:
				                </td>
				                <td style="font-size: 12px;">
				                    {{>primary_phone_number}}
				                </td>
				            </tr>
				            {{/if}}
				            {{if (location)}}
				            <tr>
				                <td>
				                    Location:
				                </td>
				                <td style="font-size: 12px;">
				                    {{>location}}
				                </td>
				            </tr>
				            {{/if}}
				            {{if level && levelPoints}}
				            <tr>
				                <td>
				                    Status:
				                </td>
				                <td style="font-size: 12px;">
				                    <span class="j-status-levels">
				                        {{>level}} 
				                        <span>({{:levelPoints}} points)</span>
				                    </span>
				                </td>
				            </tr>
				            {{/if}}
				        </table>
				        
				        {{if (status)}} 
				        <div class="jive-note-user-status">
				            "{{>status}}" 
				        </div>
				        {{/if}}
				    </div>
				</div>
			</script>
			<script id="searchResultsTemplate" type="text/x-jsrender">
				<div id="j-dealroom-search-results-container">
				    {{if (list_x.length > 0)}}
				        <div class="j-dealroom-search-results" style="height: 275px; overflow-x: hidden; overflow-y: scroll; padding: 0 10px 10px 10px;">
				            <table style="width: 100%;">
				                {{for list_x}}
				                    <tr>
				                        <td class="j-table-border" style="width: 30px; vertical-align: top; padding: 10px 0 10px 0;">
				                            <span class="jive-icon-big {{>typeCss}}"></span>
				                        </td>
				                        <td class="j-table-border" style="color: #7D7C7C; padding: 10px 0 10px 0;">
				<!--                                        <div style="padding: 10px 0 10px 0;"> -->
				                                <div style="font-size: 14px; font-weight: bold; color: #3255AE; padding-bottom: .2em;">
				                                    <a href="{{>resources.html.ref}}" target="_blank" class="j-link" style="color: #3778C7;">{{>subject}}</a>
				                                </div>
				                                <div style="font-size: 12px; padding-bottom: .2em;">
				                                    <span>Created by&nbsp;</span>
													{{if author && author.resources && author.resources.html}}
				                                    <a href="{{>author.resources.html.ref}}" target="_blank" class="j-link jiveTT-hover-user" style="color: #3778C7;" data-userid="{{>author.id}}">
													{{/if}}
													{{>author.displayName}}
													{{if author && author.resources && author.resources.html}}
													</a>
													{{/if}}
				                                    <span>&nbsp;on&nbsp;{{:~parseDate(published)}}</span>
				                                </div>
				                                <div style="font-size: 12px;">
				                                    <span class="j-result-label">Comments:&nbsp;</span>
				                                    <span>{{if (replyCount != null)}}{{>replyCount}}{{else}}0{{/if}}&nbsp;&nbsp;</span>
				                                    <span class="j-result-label">Likes:&nbsp;</span>
				                                    <span>{{if (likeCount != null)}}{{>likeCount}}{{else}}0{{/if}}&nbsp;&nbsp;</span>
				                                    <span class="j-result-label">Views:&nbsp;</span>
				                                    <span>{{if (viewCount != null)}}{{>viewCount}}{{else}}0{{/if}}&nbsp;&nbsp;</span>
				                                    <span class="j-result-label">Last modified:&nbsp;</span>
				                                    <span>{{:~parseDate(updated)}}</span>
				                                </div>
				<!--                                        </div> -->
				                        </td>
				                    </tr>
				                {{/for}}
				            </table>
				        </div>
				    {{else}}
				        <div style="padding: 10px 0px 0px 5px;">
				            <span>No results found.</span>
				        </div>
				    {{/if}}             
				</div>
			</script>
			<style type="text/css">
				/*        .dealRoom {
				max-height: 450px;
				overflow-y: auto;
				margin: 0 -13px 0 0;
				padding: 0 15px 0 0;
				} */
				.j-link {
				cursor: pointer;
				}
				.j-table-border {
				border-bottom: 1px solid #ECECEC;
				}
				.dealRoom > h3 {
				font-size: 18px;
				margin: 0 0 10px;
				}
				.dealRoom > p {
				font-size: 13px;
				padding: 0 0 15px;
				}
				.dealRoom th {
				font-weight: bold;
				color: #999;
				padding: 5px 10px;
				}
				.dealRoom th.number {
				text-align: center;
				}
				.dealRoom table td {
				padding: 5px 10px;
				color: #666;
				}
				.dealRoom table tr.odd {
				background: #f6f6f6;
				}
				.j-padding-top {
				padding: 10px 0 0;
				max-height: 280px;
				overflow-y: auto;
				display: block;
				}       
				.j-link {
				font-weight: bold;
				}
				.leftCol {
				width: 75%;
				float: left;
				}
				.rightCol {
				width: 25%;
				float: left;
				}
				.leftCol .tile {
				margin-right: 20px;
				}
				.tile {
				background: #fff;
				border-top: solid 1px #dadada;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
				box-shadow:  0 1px 2px rgba(0,0,0,.3);
				padding: 10px;
				position: relative;
				margin: 0 0 20px;
				overflow: hidden;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				-webkit-background-clip: padding-box;
				}
				.tile > h4 {
				color: #666;
				text-transform: uppercase;
				font-size: 12px;
				margin: 0 0 10px;
				display: block;
				}
				.tile .more {
				position: absolute;
				top: 10px;
				right: 10px;
				font-weight: bold;
				font-size: 12px;
				}
				.dealRoom .jive-icon-med,
				.dealRoom .jive-icon-sml {
				float: none;
				display: inline-block;
				margin: 0 5px 0 0;
				margin: 0;
				position: relative;
				top: 2px;
				}
				.search {
				position: absolute;
				right: 10px;
				top: 7px;
				}
				.search input {
				background-position: 0 -465px;
				background-repeat: repeat-x;
				border: 0;
				display: inline-block;
				font-size: 11px;
				line-height: 1.2em;
				margin: 0 -4px;
				padding: 5px 0 6px;
				vertical-align: top;
				width: 143px;
				position: relative;
				-webkit-border-radius: 0;
				}
				.search .j-search-left {
				width: 27px;
				height: 24px;
				background-position: -198px -61px;
				display: inline-block;
				position: relative;
				zoom: 1;
				margin: 0;
				}
				.search .j-search-right {
				width: 16px;
				height: 24px;
				display: inline-block;
				background-position: -230px -61px;
				margin: 0;
				}
				.search input {
				outline: none;
				}
				.dealRoom table {
				width: 100%;
				margin: 10px 0;
				}
				.dealRoom table th {
				font-weight: bold;
				color: #999;
				padding: 5px 10px;
				}
				.dealRoom table tr.odd {
				background: #f6f6f6;
				}
				.dealRoom table td {
				padding: 10px;
				}
				.dealRoom table td.content,
				.dealRoom table td.author {
				font-weight: bold;
				}
				.dealRoom table td.author img {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px 0 0;
				}
				.dealRoom table th.number,
				.dealRoom table td.number {
				text-align: center;
				}
				.dealRoom table td.number,
				.dealRoom table td.date {
				color: #8b8b8b;
				font-size: 12px;
				}
				/*        .dealRoom {
				border-top: solid 1px #ccc;
				} */
				.actionsTile li {
				margin: 5px 0;
				}
				.j-icon-list li > a {
				font-weight: bold;
				}
				.membersTile img.jive-avatar {
				overflow:  hidden;
				width: 46px;
				height: 46px;
				float: left;
				margin: 0 10px 10px 0;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
				box-shadow:  0 1px 2px rgba(0,0,0,.15);
				}
				.membersTile .memberList {
				margin-right: -10px;
				margin-bottom: -10px;
				}
			</style>
		</head>
		<body style="background-color: #fff">
			<!--  Overriding the default Dealroom title, auto-generated by Salesforce -->
			<div title="">
		        <!-- Hidden element, just to force the jiveDealRoom__c field as part of the standard controller record fetched, and to avoid additional SOQL -->
		        <apex:outputText value="{!opportunity.Name}" rendered="false"/>
			
				<!-- In case there's no valid Jive configuration -->
				<apex:outputPanel rendered="{!(isConfigurationValid == false)}">
					<apex:form >
						<apex:outputLink value="{!configureTarget}" target="_blank" style="color: #3778C7;">Click here</apex:outputLink>
						<apex:outputText > to configure Jive Deal Room.</apex:outputText>
					</apex:form>
				</apex:outputPanel>
				<!-- If valid Jive configuration exists -->
				<apex:outputPanel rendered="{!(isConfigurationValid == true)}">
					<!--             <apex:form onsubmit="return false;">  -->
					<!-- If no group is defined -->
					<apex:outputPanel rendered="{!(placeId == null) || (placeId <= 0)}">
						<apex:form onsubmit="return false;">
							<apex:pageBlock title="Jive Deal Room">
								<apex:pageBlockButtons location="top">
								</apex:pageBlockButtons>
								<apex:outputPanel id="j-create-dealroom-msg">
									<apex:outputText >Deal Rooms are private places in Jive where you can work on RFPs, presentations, and more.</apex:outputText>
								</apex:outputPanel>
								<div id="j-create-dealroom-btn-container" style="padding: 10px 0 10px 0;">
									<input id="j-create-dealroom-btn" class="j-btn-callout" type="button" data-url="{!dealRoomCreationUrl}" value="Create"></input>
								</div>
								<div id="j-create-reload-msg" style="padding: 10px 0 10px 0; display: none;">
									<p style="font-weight: bold;">Once you create your Deal Room in Jive, refresh this page to see its data.</p>
								</div>
							</apex:pageBlock>
						</apex:form>
					</apex:outputPanel>
					<!-- If there's a group connected -->
					<apex:outputPanel rendered="{!(placeId != null) && (placeId > 0)}">
						<apex:pageBlock title="Jive Deal Room">
							<!--  START OF AMY'S DESIGN -->
							<div class="dealRoom">
								<p>The deal room
									<strong>
									<span class="jive-icon-med jive-icon-group"></span>
									<a href="{!dealRoomUrl}" target="_blank">{!dealRoomName}</a>
									</strong>
									has been created for this opportunity.
								</p>
								<div class="columns clearfix">
									<div class="leftCol">
										<div id="j-dealroom-tabs" class="tile contentTile">
											<h4>Content</h4>
											<nav class="j-bigtab-nav j-rc5 j-rc-none-bottom" role="navigation" aria-label="Place">
												<ul class="j-tabbar j-rc5 j-rc-none-bottom">
													<li id="j-dealroom-recent-tab" class="j-ui-elem active" data-contentid="j-dealroom-recent-tab-content">
														<a id="jive-place-link-overview" class="j-ui-elem j-link">Recent</a>
													</li>
													<li id="j-dealroom-featured-tab" class="j-ui-elem" data-contentid="j-dealroom-featured-tab-content">
														<a id="jive-place-link-content" class="j-ui-elem j-link">Featured</a>
													</li>
												</ul>
												<div class="search">
													<span class="j-ui-elem j-search-left"></span>
													<label for="autosearch" class="j-508-label">Search</label>
													<input data-spotlight-enabled="true" id="autosearch" class="j-ui-elem" data-component="autosearch" data-popup-anchor="searchpopupanchor" placeholder="Search" type="text" role="combobox" data-hidetypes="  " data-community-name="Brewspace" maxlength="250" aria-autocomplete="list" aria-owns="suggestions_0"></input>
													<span class="j-ui-elem j-search-right"></span>
												</div>
											</nav>
											<apex:outputPanel layout="block" style="position: relative;">
												<apex:outputPanel layout="block" id="j-search-results" style="position: absolute; z-index: 100; top: 0; width: 100%; height: 300px; background-color: white; display: none;">
													<apex:outputPanel layout="block" id="search-results-topbar" style="background-color: #E0E8F3; border-bottom: 1px solid #ADC1DD; padding: 10px;">
														<apex:outputText id="j-search-results-label" value="Deal Room Search Results" style="font-weight: bold; color: black; padding-right: 20px;" />
														<span data-base-url="{!baseUrl}">
															<apex:outputLink id="j-search-jive-link" value="{!baseUrl}" target="_blank" styleClass="j-link" style="color: #3778C7;">Search in Jive</apex:outputLink>
														</span>
														<apex:outputLink id="j-search-results-dismiss" value="javascript:;" styleClass="j-link">
															<apex:outputPanel layout="block" style="position: absolute; top: 8px; right: 8px;">
																<apex:image value="{!URLFOR($Resource.jive__dealRoomResources, 'jive-image-close.gif')}" width="12" height="12" />
															</apex:outputPanel>
														</apex:outputLink>
													</apex:outputPanel>
													<apex:outputPanel layout="block" id="j-search-results-placeholder" />
												</apex:outputPanel>
											</apex:outputPanel>
											<!-- START CONTENT PANELS -->
											<div id="j-dealroom-tabs-contents">
												<!-- START RECENT CONTENT TAB-CONTENT PANEL -->
												<apex:outputPanel id="j-dealroom-recent-tab-content" styleClass="active">
													<apex:outputPanel layout="block" id="j-dealroom-recent-tab-content-tablewrapper" rendered="{!(groupContents != null && groupContents.list_x != null && groupContents.list_x.empty == false)}">
														<apex:dataTable value="{!groupContents.list_x}" var="item" rows="20" style="width: 100%;" styleClass="j-padding-top" 
															rowClasses="even,odd" columnClasses="content,author,likes,comments,views,date" columnsWidth="40%,20%,20px,20px,20px,150px">
															<apex:column >
																<apex:facet name="header">
																	<apex:outputText value="Title" />
																</apex:facet>
																<apex:outputLink value="{!item.resources['html'].ref}" target="_blank" styleClass="j-link" style="color: #3778C7;">
																	<apex:outputPanel layout="inline">
																		<apex:outputPanel layout="inline" styleClass="jive-icon-med {!item.typeCss}" />
																		<apex:outputText value="{!item.subject}" style="padding-left: 5px;" />
																	</apex:outputPanel>
																</apex:outputLink>
															</apex:column>
															<apex:column >
																<apex:facet name="header">Author</apex:facet>
																<a href="{!item.author.resources['html'].ref}" target="_blank" class="j-link jiveTT-hover-user" data-userid="{!item.author.id}">
																<img src="{!item.author.resources['html'].ref}/avatar/24" height="24" alt="" border="0" class="jive-avatar"></img>
																{!item.author.displayName}
																</a>
															</apex:column>
															<apex:column styleClass="number" >
																<apex:facet name="header">
																	<span class="j-508-label">Likes</span>
																	<span class="jive-icon-sml jive-glyph-like"></span>
																	<!--  <img src="{!URLFOR($Resource.dealRoomResources, 'icon_like.png')}" width="16" height="16"/>  -->
																</apex:facet>
																<apex:outputText >{!item.likeCount}</apex:outputText>
															</apex:column>
															<apex:column styleClass="number" >
																<apex:facet name="header">
																	<span class="j-508-label">Comments</span>
																	<span class="jive-icon-sml jive-glyph-comment"></span>
																	<!-- <img src="{!URLFOR($Resource.dealRoomResources, 'icon_reply.png')}" width="16" height="16"/>  -->
																</apex:facet>
																<apex:outputText >{!item.replyCount}</apex:outputText>
															</apex:column>
															<apex:column styleClass="number" >
																<apex:facet name="header">
																	Views
																	<!--  <img src="{!URLFOR($Resource.dealRoomResources, 'icon_view.png')}" width="16" height="16"/>  -->
																</apex:facet>
																<apex:outputText >{!item.viewCount}</apex:outputText>
															</apex:column>
															<apex:column >
																<apex:facet name="header">Latest Activity</apex:facet>
																<apex:outputText value="{!item.updatedStr}" />
															</apex:column>
														</apex:dataTable>
													</apex:outputPanel>
													<apex:outputPanel layout="block" rendered="{!(groupContents == null && groupContents.list_x == null || groupContents.list_x.empty == true)}" style="padding: 10px 0px 0px 5px;">
														<apex:outputText value="No recent content found." />
													</apex:outputPanel>
												</apex:outputPanel>
												<!-- END RECENT CONTENT TAB-CONTENT PANEL -->
												<!-- START FEATURED CONTENT TAB-CONTENT PANEL -->
												<apex:outputPanel id="j-dealroom-featured-tab-content" style="display: none;">
													<apex:outputPanel layout="block" id="j-dealroom-featured-tab-content-tablewrapper" rendered="{!(groupFeaturedContents != null && groupFeaturedContents.list_x != null && groupFeaturedContents.list_x.empty == false)}">
														<apex:dataTable value="{!groupFeaturedContents.list_x}" var="item" rows="20" style="width: 100%;" styleClass="j-padding-top" 
															rowClasses="even,odd" columnClasses="content,author,likes,comments,views,date" columnsWidth="40%,20%,20px,20px,20px,150px">
															<apex:column >
																<apex:facet name="header">
																	<apex:outputText value="Title" />
																</apex:facet>
																<apex:outputLink value="{!item.resources['html'].ref}" target="_blank" styleClass="j-link" style="color: #3778C7;">
																	<apex:outputPanel layout="inline">
																		<apex:outputPanel layout="inline" styleClass="jive-icon-med {!item.typeCss}" />
																		<apex:outputText value="{!item.subject}" style="padding-left: 5px;" />
																	</apex:outputPanel>
																</apex:outputLink>
															</apex:column>
															<apex:column >
																<apex:facet name="header">Author</apex:facet>
																<a href="{!item.author.resources['html'].ref}" target="_blank" class="j-link jiveTT-hover-user" data-userid="{!item.author.id}">
																<img src="{!item.author.resources['html'].ref}/avatar/24" height="24" alt="" border="0" class="jive-avatar"></img>
																{!item.author.displayName}
																</a>
															</apex:column>
															<apex:column styleClass="number" >
																<apex:facet name="header">
																	<span class="j-508-label">Likes</span>
																	<span class="jive-icon-sml jive-glyph-like"></span>
																	<!--  <img src="{!URLFOR($Resource.dealRoomResources, 'icon_like.png')}" width="16" height="16"/>  -->
																</apex:facet>
																<apex:outputText >{!item.likeCount}</apex:outputText>
															</apex:column>
															<apex:column styleClass="number" >
																<apex:facet name="header">
																	<span class="j-508-label">Comments</span>
																	<span class="jive-icon-sml jive-glyph-comment"></span>
																	<!-- <img src="{!URLFOR($Resource.dealRoomResources, 'icon_reply.png')}" width="16" height="16"/>  -->
																</apex:facet>
																<apex:outputText >{!item.replyCount}</apex:outputText>
															</apex:column>
															<apex:column styleClass="number" >
																<apex:facet name="header">
																	Views
																	<!--  <img src="{!URLFOR($Resource.dealRoomResources, 'icon_view.png')}" width="16" height="16"/>  -->
																</apex:facet>
																<apex:outputText >{!item.viewCount}</apex:outputText>
															</apex:column>
															<apex:column >
																<apex:facet name="header">Latest Activity</apex:facet>
																<apex:outputText value="{!item.updatedStr}" />
															</apex:column>
														</apex:dataTable>
													</apex:outputPanel>
													<apex:outputPanel layout="block" rendered="{!(groupFeaturedContents == null && groupFeaturedContents.list_x == null || groupFeaturedContents.list_x.empty == true)}" style="padding: 10px 0px 0px 5px;">
														<apex:outputText value="No featured content found." />
													</apex:outputPanel>
												</apex:outputPanel>
												<!-- END FEATURED CONTENT TAB-CONTENT PANEL -->
											</div>
											<!-- END CONTENT PANELS -->
											<div class="more">
												<a href="{!allContentUrl}" target="_blank">
												View all
												</a>
											</div>
										</div>
									</div>
									<div class="rightCol">
										<div class="tile actionsTile">
											<h4>Actions</h4>
											<div class="actionList clearfix">
												<ul class="j-icon-list">
													<apex:outputPanel layout="none" rendered="{!(isSupportDiscussions)}">
														<li>
															<a href="{!baseUrl}discussion/create.jspa?containerType={!containerType}&containerID={!groupId}&question=true" target="_blank">
															<span class="jive-icon-med jive-icon-discussion-question"></span>
															Ask a question
															</a>
														</li>
													</apex:outputPanel>
													<apex:outputPanel layout="none" rendered="{!(isSupportDocuments)}">
														<li>
															<a href="{!baseUrl}document/create.jspa?containerType={!containerType}&containerID={!groupId}" target="_blank">
															<span class="jive-icon-med jive-icon-document"></span>
															Start an RFP
															</a>
														</li>
													</apex:outputPanel>
													<apex:outputPanel layout="none" rendered="{!(isSupportIdeas)}">
														<li>
															<a href="{!baseUrl}create-idea!input.jspa?containerType={!containerType}&containerID={!groupId}" target="_blank">
															<span class="jive-icon-med jive-icon-idea"></span>
															Post an idea
															</a>
														</li>
													</apex:outputPanel>
												</ul>
											</div>
										</div>
										<div class="tile membersTile">
											<h4>Members</h4>
											<div class="memberList clearfix">
												<apex:repeat rows="6" value="{!members.list_x}" var="member">
													<a href="{!member.person.resources['html'].ref}" target="_blank" class="jiveTT-hover-user" data-userid="{!member.person.id}">
													<img src="{!member.person.resources['html'].ref}/avatar/46" height="46" alt="" border="0" class="jive-avatar"></img>
													</a>
												</apex:repeat>
											</div>
											<div class="more">
												<a href="{!membersUrl}" target="_blank">
												View all
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</apex:pageBlock>
						<!-- END MAIN CONNECTED-GROUP PANEL -->
					</apex:outputPanel>
					<!--             </apex:form>  -->
				</apex:outputPanel>
				<!--
					<apex:outputPanel layout="block" id="j-dealroom-modal" styleClass="j-dealroom-modal">
					    <apex:outputLink id="j-dealroom-modal-close" value="javascript:;" styleClass="j-link">
					        <apex:outputPanel layout="block" style="position: absolute; top: 8px; right: 8px;">
					            <apex:image value="{!URLFOR($Resource.jive__dealRoomResources, 'jive-image-close.gif')}" width="12" height="12" />
					        </apex:outputPanel>
					    </apex:outputLink>
					</apex:outputPanel>
					<apex:outputPanel layout="block" id="j-dealroom-modal-overlay" styleClass="black_overlay" />
					 -->
			</div>
		</body>
	</html>
</apex:page>