<apex:page controller="jive.DealRoomConfigurationController">
    <head>
<!--
        <script type="text/javascript">
            window.addEventListener('load', function() {
                if (window.location.search.indexOf('shouldClose=2') != -1) {
                    window.close();
                }
            });
        </script>
-->
    </head>
    
    <body>
        <apex:pageMessage title="Configuration saved" summary="Your connection was successful! Your connection information has been saved." rendered="{!$CurrentPage.parameters.saveResult == 'success'}" severity="confirm" strength="2" />
        <apex:pageMessage title="Invalid Configuration" summary="We couldn't connect to the Jive community. Please check the URL and login information." rendered="{!$CurrentPage.parameters.saveResult == 'failure'}" severity="error" strength="2" />
        <apex:outputPanel rendered="{!$Profile.Name != 'System Administrator'}">
            <apex:outputText >You are not authorized to view this page.</apex:outputText>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!$Profile.Name == 'System Administrator'}">
            <apex:form >
                <apex:pageBlock title="Jive Deal Room Configuration">
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Save" action="{!save}"/>
                        <apex:commandButton value="Clear" action="{!clear}" immediate="true"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection collapsible="false" columns="1">
                        <apex:outputLabel >Community URL:</apex:outputLabel>
                        <apex:inputText id="txtUrl" required="true" value="{!config.url}" size="50"/>
                        <apex:outputLabel >Username: </apex:outputLabel>
                        <apex:inputText id="txtUsername" required="true" value="{!config.username}" size="50"/>
                        <apex:outputLabel >Password: </apex:outputLabel>
                        <apex:inputSecret id="txtPassword" required="true" value="{!config.password}" size="50"/>
                        <apex:outputText >
                            Click Save to connect to Jive and save your community URL and credentials.<br/>
                            The community URL is the base URL to your Jive installation, example: https://mycompany.jiveon.com
                            or https://jive.mycompany.com.<br/>
                            The connection information will not be saved if it fails to connect.
                        </apex:outputText>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:form>
        </apex:outputPanel>
    </body>
</apex:page>